mixin footer()
    +b.footer
        .container
            +e.inner
                //+e.A.develop(href="")
                //    +e.SPAN.develop-title Developed:
                //    +e.IMG.develop-image(src=require(''), alt='Mastak logo')

