@import "./../../common/constants";
@import "./../../../node_modules/remodal/dist/remodal.css";
@import "./../../../node_modules/remodal/dist/remodal-default-theme.css";

.footer {


    margin-top: -47px;

    position: relative;
    padding-bottom: 20px;

    &__wrapper-content{
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
    }



    &__inner-wrapper-link{
        display: block;
        margin-left: auto;
        width: 127px;

        @include m-land{
            display: block;
            margin-left: auto;
            width: 33%;
            padding-top: 24px;
        }

        @include sm{
            padding-left: 10px;
            width: 33%;
            padding-top: 14px;
        }

        @include md{
            width: 20%;
            padding-top: 0;
            padding-left: 0;
        }

    }

    &__wrapper-link{

        @include m-land{
            display: flex;
            align-items: center;
        }

        @include sm{
            display: flex;
            align-items: center;
            padding-top: 10px;
            flex-grow: 1;
            justify-content: flex-end;
            width: 20%;
        }

        @include md{
            flex-direction: column;
            align-items: flex-end;
            width: 20%;
            max-width: 20%;
            padding-top: 0;
        }

    }



    &__part{
        display: none;
        width: .5rem;
        background: linear-gradient(270deg, #9C9EFD 0%, #29BFFF 98.47%);
        transform: rotate(-180deg);
        height: 100%;
        margin-top: 32px;

        @include m-land{
            display: block;
            flex-grow: 0;
            height: 168px;
        }

        @include sm{
            display: block;
            flex-grow: 0;
            width: 1rem;
            height: 170px;
        }

        @include md{
            width: 1.5rem;
            margin-top: 33px;
            height: 142px;
        }

        @include lg{
            width: 2.5rem;
            margin-top: 36px;
            height: 142px;
        }

        @include hd{
            width: 100px;
            margin-top: 37px;
            height: 141px;
        }

        @include xhd{
            width: 380px;
            margin-top: 36px;
        }

    }


    &__back-logo{

        display: none;

        @include m-land{
            background-image: url(./../../images/foot-do2.png);
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;
            display: block;
            max-width: 398px;
            width: 398px;
            min-width: 398px;
            height: 100%;
            flex-grow: 1;
            margin-left: -90px;

        }

        @include sm{
            background-image: url(./../../images/foot-do2.png);
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;
            display: block;
            max-width: 398px;
            width: 398px;
            min-width: 399px;
            height: 100%;
            flex-grow: 1;
            margin-left: -90px;

        }

        @include md{
            margin-left: -58px;
            min-width: 400px;
        }

        @include lg{
            margin-left: -1px;
            min-width: 401px;
        }

        @include hd{

            min-width: 406px;

        }

        @include xhd{
            margin-left: -15px;
            min-width: 405px;
        }

    }


    &__image-wrapper{
        display: none;

        @include m-land{
            display: block;
            background: linear-gradient(270deg, #9C9EFD 0%, #29BFFF 98.47%);
            flex-grow: 0;
            width: 100%;
            margin-top: 43px;
            height: 168px;
        }


        @include sm{
            display: block;
            background: linear-gradient(270deg, #9C9EFD 0%, #29BFFF 98.47%);
            flex-grow: 0;
            width: 100%;
            margin-top: 44px;
            height: 170px;
        }

        @include md{
            margin-top: 36px;
            height: 142px;
        }

        @include lg{
            height: 142px;
        }

        @include hd{
            margin-top: 37px;
            height: 141px;
        }

        @include xhd{
            margin-top: 36px;
        }

    }

    &__background{
        background-image: url(./../../images/footer-back-mobile.png);
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        width: 450px;
        height: 100%;


        @include m-land{
            width: 100%;
            display: none;
        }

        @include sm{
            width: 100%;
            display: none;
        }
    }


    &__wrapper{
        width: 100%;
        margin-top: -79px;


        @include lg{
            margin-top: -59px;
        }

    }





    .social__footer{
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 20px;
        width: 170px;
        margin-left: auto;
        margin-right: auto;

        @include m-land{
            margin-top: 0;
            width: 100%;
            margin-left: auto;
        }

        @include sm{
            margin-top: 0;
            padding-top: 10px;
            width: 100%;
            margin-left: auto;
        }


        @include md{
            padding-top: 0;
            align-items: center;
            display: flex;
            width: 100%;
            padding-bottom: 0;
        }

        @include lg{
            justify-content: flex-end;

        }
    }

    .social__item:last-child{
        margin-right: 0;
    }

    .social__list{

        @include m-land{
            justify-content: flex-start;
        }

        @include sm{
            justify-content: flex-start;
        }

    }


    &__wrapper-logo{
        min-width: 109px;
        min-height: 109px;
        width: 109px;
        height: 109px;
        display: block;
        z-index: 2;
        margin-left: 10px;

    }





    &__logo{
        min-width: 109px;
        min-height: 109px;
        width: 109px;
        height: 109px;
        display: block;
        margin-top: -30px;
        margin-left: 6px;

        @media (min-width : 375px) {
            margin-left: 62px;
        }

        @media (min-width : 410px) {
            margin-left: 102px;
        }

        @include m-land{
            margin-left: 40px;
        }

        @include sm{
            margin-left: 44px;
        }

        @include md{
            margin-left: 81px;
            margin-top: -40px;
        }

        @include lg{
            margin-left: 150px;
            margin-top: -40px;
        }

        @include hd{
            margin-left: 203px;
        }

        @include xhd{
            margin-left: 385px;
        }

    }

    &__image-logo{
        width: 100%;
        height: 100%;
    }

    &__inner{
        display: flex;
        padding-top: 38px;
        flex-wrap: wrap;

        @include md{
            padding-top: 49px;
            flex-direction: row;
            align-items: center;
        }
    }


    &__inner-wrapper{

        @include m-land{
            display: flex;
            flex-wrap: wrap;
            margin-top: -20px;
        }

        @include sm{
            display: flex;
            flex-wrap: wrap;
            margin-top: -20px;
        }

        @include md{
            padding-left: 10%;
            align-items: flex-start;
        }

        @include lg{
            margin-top: -66px;
        }

    }


    &__links{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100%;

        @include m-land{
            width: 32%;
            align-items: flex-start;
        }

        @include sm{
            width: 32%;
            align-items: flex-start;
        }

        @include md{
            width: 20%;
            margin-top: 0;
            margin-bottom: 0;
        }

        @include lg{
        }

    }

    &__link{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
        margin-bottom: 6px;
        text-decoration: none;
    }

    &__image{
        width: 206px;
        height: 37px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 27px;

        @include m-land{
            width: 32%;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 0;
        }

        @include sm{
            width: 32%;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 0;
            margin-top: 15px;
        }

        @include md{
            width: 20%;
            height: auto;
            margin-top: 0;
        }

    }

    &__develop{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        width: 100%;

        @include m-land{
            margin-top: -9px;
            width: 32%;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        @include sm{
            margin-top: -9px;
            width: 32%;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        @include md{
            width: 100%;
            flex-direction: row;
            align-items: center;
            padding-top: 26px;
        }

        @include lg{
            padding-top: 16px;
            justify-content: flex-end;
        }


    }

    &__develop-title{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
        display: block;
        text-decoration: none;
        margin-bottom: 8px;

        @include m-land{
            margin-bottom: 0;
            margin-right: 10px;
        }

        @include sm{
            margin-bottom: 0;
            margin-right: 10px;
        }

        @include md{
            margin-bottom: 0;
            margin-right: 10px;
        }


    }

    &__develop-image{
        width: 64.94px;
        height: 16.21px;

        @include md{
            margin-top: -3px;
        }

    }

    &__remodal-wrapper{
        background: rgba(44,184,244,.92) !important;
        opacity: 1;
        transition: 1s all;
        overflow: hidden;


        .footer__remodal-content{

            opacity: 1;
            transition: 1s all 1s;

        }
    }

    &__remodal{
        display: flex;
        align-items: center;
        padding: 35px 15px;
        height: 100vh;

        .remodal-close:after {
            font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
            font-size: 40px;
            line-height: 40px;
            position: absolute;
            top: 0px;
            left: unset;
            right: -9px;
            display: block;
            width: 40px;
            content: "\D7";
            text-align: center;
            color: #FFFFFF;
        }

        .remodal-close:before {
            display: none !important;
        }

        .remodal-close{
            display: flex;
            align-items: center;
            padding-right: 88px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
            text-transform: lowercase;

        }
    }

    &__remodal-wrapper-inner{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;




    }

    &__remodal-title{
        font-family: 'Bebas Neue';
        font-style: normal;
        font-weight: normal;
        font-size: 34px;
        line-height: 46px;
        color: #FFFFFF;
        display: flex;
        margin-top: 20px;

        @include sm{
            font-size: 52px;
            line-height: 46px;
        }
    }

    &__remodal-desc{
        font-family: 'Bebas Neue';
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 32px;
        color: #FFFFFF;
        display: flex;

        @include sm{
            font-size: 36px;
            line-height: 32px;
            margin-top: 10px;
        }
    }

    &__remodal-text{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        display: flex;
        margin-top: 20px;
        margin-bottom: 30px;

        @include sm{
            font-size: 16px;
            line-height: 22px;
            width: 300px;
            margin-top: 40px;
        }

    }

    &__remodal-image{
        width: 217px;
        margin-top: 30px;
        margin-left: 40px;

        img{
            width: 100%;
            height: auto;
        }

        @include sm{
            width: 360px;
            margin-top: 30px;
            position: absolute;
            right: 0;
        }

        @include md{
            right: 150px;
        }

        @include lg{
            width: 450px;
            right: 200px;
            top: -50px;
        }

        @include hd{
            right: 500px;
        }

        @include xhd{
            right: 700px;
        }


    }

    &__remodal-content{

        opacity: 0;

        @include sm{
            display: flex;
        }

        @include md{
            padding-left: 10%;
            padding-right: 10%;
            width: 100%;
            position: relative;
        }

        @include lg{
            padding-left: 20%;
            padding-right: 20%;
        }

        @include hd{
            padding-left: 30%;
            padding-right: 30%;
        }
    }



&__inner-wrapper-image{

    @include lg{
        width: 152px;
    }

    @include hd{
        width: 175px;
    }

}






}