mixin footer()
    +b.footer
        +e.content
            +e.background
            +e.wrapper-content
                +e.part
                +e.back-logo
                +e.image-wrapper
            +e.inner-footer
                +e.inner
                    +e.wrapper-logo
                        +e.A.logo(href="/")
                            +e.image-logo(src=require('./../images/logo.svg'), alt='')
                    +e.wrapper
                        .container
                            +e.inner-wrapper
                                +social()(class="social__footer")
                                +e.links
                                    +e.A.link(href="#") Карта сайта
                                    +e.A.link(href="#") Интерактивная карта “Ты не одна”
                                +e.IMG.image(src=require('./../images/canada.svg'), alt='')
                                +e.A.develop(target="_blank" href="https://mastakstudio.com/")
                                    +e.SPAN.develop-title Developed:
                                    +e.IMG.develop-image(src=require('./../images/develop.svg'), alt='')

