@import "./../../common/constants";
@import "./../../../node_modules/jquery-ui/themes/base/all.css";

.accountMed{

  margin-top: 20px;


  &__passport{

    .account__item-input:nth-child(1){
      @include sm{
        width: 52px;
        min-width: 53px;
      }
    }


  }

  .links {
    display: none;

    @include md {
      display: block;
      width: 415px;
      margin: 0 auto;
      right: 230px;
      position: absolute;
      z-index: 1000;
      top: -97px;
    }

    @include hd{
      right: 310px;
    }

    @include xhd{
      right: 600px;
    }

  }

  &__item-head-type{
    display: flex;
    margin-top: 20px;
  }

  &__wrapper{
    overflow: hidden;

    @include sm{
      margin-top: -220px;
    }

    @include md{
      margin-top: -335px;
    }

    @include lg{
      margin-top: -310px;
    }

    @include hd{
      margin-top: -300px;
    }

    @include xhd{

    }


    img{
      display: none;


      @include sm{
        width: 667px;
        margin-left: auto;
        display: block;

        margin-right: -130px;
      }

      @include md{

        margin-right: -135px;
        width: 667px;
      }

      @include lg{

        width: 828px;
        margin-right: -151px;
        padding-top: 80px;
      }

      @include hd{
        width: 828px;

        margin-right: 200px;

      }

      @include xhd{
        margin-right: 490px;
      }

    }

  }

  .text{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    color: #46555A;

    @include sm{
      width: 416px;
      font-size: 16px;
      line-height: 22px;
    }

    @include md{
      width: 823px;
    }


  }

  .title{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 58px;
    color: #00B2FF;

    @include sm{
      font-size: 52px;
      line-height: 58px;
    }

    @include md{
      padding-top: 20px;
    }

    @include hd{
      width: 757px;

    }

  }

  &__links{
    @include md{
      margin: 0 auto;
      width: 435px;
    }
  }


  &__inner{

    @include sm{
      display: flex;
      justify-content: space-between;
    }

  }

  .form-input__item-label{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #00B2FF;
    display: flex;
    margin-bottom: 5px;

  }

  .form-input__item{
    margin-top: 20px;
  }

  .form-input__item-input{
    border: 1px solid #99CEE4;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: #9B9B9B;
  }

  [type="date"] {
    background: #fff url(./../../images/bird.svg) 97% center no-repeat;
    background-size: 10%;

    @include m-land{
      background: #fff url(/src/icons/bird.svg) 98% center no-repeat;
      background-size: 6%;
    }

  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  &__list{

    margin-top: 20px;
    margin-bottom: 50px;

    @include lg{
      margin-top: -50px;
    }

    @include hd{
      margin-top: -200px;
    }

  }

  &__item-head{
    display: flex;
    align-items: center;
  }

  &__item-title{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    text-transform: uppercase;
    color: #00B2FF;
  }

  &__item-update{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    background: #00B2FF;
    box-shadow: 0px 2px 4px #7ED8FF;
    border-radius: 42.5px;
    border: 0;
    padding: 2px 8px;
    margin-right: 15px;
    transition: .5s background;
    cursor: pointer;

    &:hover{
      background: #0090ce;
      transition: .5s background;
    }

    @include md{
      font-size: 16px;
      line-height: 19px;
      padding: 4px 12px;
    }

  }


  &__item-head{
    margin-bottom: 1rem;

  }

  &__item{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #B8B8B8;

    &:nth-child(3){
      border-bottom: none;
    }

    @include md{
      margin-bottom: 30px;
      padding-bottom: 30px;
    }

  }

  &__item-label{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #00B2FF;
    margin-top: 20px;
    margin-bottom: 5px;

    @include lg{
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 10px;
    }
  }

  &__item-input{
    display: flex;
    flex-direction: column;
    position: relative;



    @include md{
      width: 48%;
      margin-right: 20px;

      &:nth-child(2n){
        margin-right: 0;
      }

    }

    @include md{
      width: 390px;
      min-width: 390px;
      margin-right: 37px;

      &:nth-child(2n){
        margin-right: 0;
      }
    }

  }

  &__item-inputs{

    @include sm{
      width: 390px;
      margin-top: -470px;
    }

    @include md{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-top: -349px;

    }

    @include lg{
      margin-top: -519px;
      width: 880px;
    }

  }


  &__date{
    background: #FFFFFF;
    opacity: 0.9;
    border: 1px solid #99CEE4;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 100%;
    height: 43px;
    margin-top: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #9B9B9B;

    padding-left: 10px;
  }




  .form-input__item-label{

    @include lg{
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 10px;
    }

  }

  .disable{

    .form-input__item-label{
      color: #9B9B9B;
    }

    .form-input__item-input{
      pointer-events: none;
      font-family: 'Oswald', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 29px;
      color: #E08181;
    }

    .account__item-label{
      color: #9B9B9B;
    }

    .account__date{
      pointer-events: none;
      font-family: 'Oswald', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 29px;
      color: #E08181;
    }


  }

  &__pol-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__pol-container {
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #EDF8FF;
    opacity: 0.9;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 93px;
    height: 43px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #46555A;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  &__pol-container{
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
  }

  &__pol-checkmark {
    position: relative;
    margin-left: 8px;
    width: 30px;
    height: 30px;
    background: #00B2FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__pol-checkmark{
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  .custom-button{
    filter: drop-shadow(0px 1.25359px 4.38756px rgba(0, 0, 0, 0.25));
    background: linear-gradient(356.43deg, rgba(162, 88, 197, 0.82) -7.09%, rgba(237, 86, 207, 0.906465) 50.68%, #FFB7A0 113.17%);
    border: 0.626794px solid #DA7ED1;
    border-radius: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 8.77512px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    display: block;

    @include sm{
      margin-left: unset;
    }
  }


  &__pol-container{
    input{
      &:checked ~ .accountMed__pol-checkmark{
        &:after {
          display: block;
        }
      }
    }
  }

  &__pol-container{
    .accountMed__pol-checkmark{
      &:after {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: white;
      }
    }
  }

}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}