mixin page-experts()
    +b.page-experts
        .container
            +e.inner
                +e.content
                    +title('наши ЭКСПЕРТы')(class='title_blue')
                    +text('Наша команда провела более 50-ти интервью и документальных съёмок с экспертами в области акушерства и гинекологии, неонатологии, педиатрии, психологиии и педагогики, юриспруденции. ')(class='text_black')
                    +e.A.link(href="#modal")
                        span Просмотреть промо-видео
                        +e.IMG(src=require('./../images/play.svg'), alt='')
                    +e.IMG.image-experts(src=require('./../images/experts.png'), alt='')
                +e.list
                    +e.text
                        .page-experts__video_wrapper
                            .page-experts__video
                                .page-experts__video_inner
                                    A.page-experts__video_link(href="#modal")
                                        img(src=require('./../images/experts-arrow.png'), alt='')
                                        span смотреть
                    +popup('https://www.youtube.com/embed/jemgIOAjGDw')(data-remodal-id='modal')
    +popup('https://www.youtube.com/embed/jemgIOAjGDw')