mixin blog()
    +b.blog
        +e.inner
            .container
                +e.wrapper-title
                    +e.SPAN.title Blog
                +e.grid.grid#grid
                    +e.grid-item.grid-item
                        a(href='http://falconglen.mastak.by/happy-easter-2020/')
                            h2 Happy Easter!
                        iframe#instagram-embed-0.instagram-media.instagram-media-rendered(src='https://www.instagram.com/p/B-5jrmqBNGl/embed/captioned/?cr=1&v=12&wp=326&rd=http%3A%2F%2Ffalconglen.mastak.by&rp=%2Fblog%2F#%7B%22ci%22%3A0%2C%22os%22%3A2865.519999999833%2C%22ls%22%3A2134.6699999999146%2C%22le%22%3A2136.389999999892%7D' allowtransparency='true' allowfullscreen='true' frameborder='0' height='920' data-instgrm-payload-id='instagram-media-payload-0' scrolling='no' style='background: white; max-width: 500px; width: calc(100% - 2px); border-radius: 3px; border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px;')
                        p
                            script(async='' src='//www.instagram.com/embed.js')
                    +e.grid-item.grid-item
                        a(href='http://falconglen.mastak.by/freeze-dried-falconglen-organic-blueberries/')
                            h2 Freeze-Dried Falconglen Organic Blueberries!
                        iframe#instagram-embed-1.instagram-media.instagram-media-rendered(src='https://www.instagram.com/p/B-zthvPBl4-/embed/captioned/?cr=1&v=12&wp=326&rd=http%3A%2F%2Ffalconglen.mastak.by&rp=%2Fblog%2F#%7B%22ci%22%3A1%2C%22os%22%3A2872.914999999921%2C%22ls%22%3A2134.6699999999146%2C%22le%22%3A2136.389999999892%7D' allowtransparency='true' allowfullscreen='true' frameborder='0' height='1184' data-instgrm-payload-id='instagram-media-payload-1' scrolling='no' style='background: white; max-width: 500px; width: calc(100% - 2px); border-radius: 3px; border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px;')
                        p
                            script(async='' src='//www.instagram.com/embed.js')
                    +e.grid-item.grid-item
                        a(href='http://falconglen.mastak.by/freeze-dried-falconglen-organic-blueberries-are-here/')
                            h2 Freeze-Dried Falconglen Organic Blueberries Are Here!
                        iframe#instagram-embed-2.instagram-media.instagram-media-rendered(src='https://www.instagram.com/p/B-x885mhrGU/embed/captioned/?cr=1&v=12&wp=326&rd=http%3A%2F%2Ffalconglen.mastak.by&rp=%2Fblog%2F#%7B%22ci%22%3A2%2C%22os%22%3A2880.2999999998065%2C%22ls%22%3A2134.6699999999146%2C%22le%22%3A2136.389999999892%7D' allowtransparency='true' allowfullscreen='true' frameborder='0' height='1118' data-instgrm-payload-id='instagram-media-payload-2' scrolling='no' style='background: white; max-width: 500px; width: calc(100% - 2px); border-radius: 3px; border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px;')
                        p
                            script(async='' src='//www.instagram.com/embed.js')
                    +e.grid-item.grid-item
                        a(href='http://falconglen.mastak.by/perfect-for-all-your-easter-treats/')
                            h2 Perfect For All Your Easter Treats!
                        iframe#instagram-embed-3.instagram-media.instagram-media-rendered(src='https://www.instagram.com/p/B-sGX5-BD_U/embed/captioned/?cr=1&v=12&wp=326&rd=http%3A%2F%2Ffalconglen.mastak.by&rp=%2Fblog%2F#%7B%22ci%22%3A3%2C%22os%22%3A3634.4749999998385%2C%22ls%22%3A2134.6699999999146%2C%22le%22%3A2136.389999999892%7D' allowtransparency='true' allowfullscreen='true' frameborder='0' height='896' data-instgrm-payload-id='instagram-media-payload-3' scrolling='no' style='background: white; max-width: 500px; width: calc(100% - 2px); border-radius: 3px; border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px;')
                        p
                            script(async='' src='//www.instagram.com/embed.js')
                    +e.grid-item.grid-item
                        a(href='http://falconglen.mastak.by/30-lb-boxes-of-frozen-organic-blueberries-are-available/')
                            h2 30 lb Boxes Of Frozen Organic Blueberries Are Available!
                        iframe#instagram-embed-4.instagram-media.instagram-media-rendered(src='https://www.instagram.com/p/B-hf_60h3N3/embed/captioned/?cr=1&v=12&wp=326&rd=http%3A%2F%2Ffalconglen.mastak.by&rp=%2Fblog%2F#%7B%22ci%22%3A4%2C%22os%22%3A3752.954999999929%2C%22ls%22%3A2134.6699999999146%2C%22le%22%3A2136.389999999892%7D' allowtransparency='true' allowfullscreen='true' frameborder='0' height='938' data-instgrm-payload-id='instagram-media-payload-4' scrolling='no' style='background: white; max-width: 500px; width: calc(100% - 2px); border-radius: 3px; border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px;')
                        p
                            script(async='' src='//www.instagram.com/embed.js')
                    +e.grid-item.grid-item
                        a(href='http://falconglen.mastak.by/frozen-organic-blueberries-are-available-3/')
                            h2 Frozen Organic Blueberries Are Available!
                        iframe#instagram-embed-5.instagram-media.instagram-media-rendered(src='https://www.instagram.com/p/B-ZpcoFh4A4/embed/captioned/?cr=1&v=12&wp=326&rd=http%3A%2F%2Ffalconglen.mastak.by&rp=%2Fblog%2F#%7B%22ci%22%3A5%2C%22os%22%3A3928.7349999999606%2C%22ls%22%3A2134.6699999999146%2C%22le%22%3A2136.389999999892%7D' allowtransparency='true' allowfullscreen='true' frameborder='0' height='878' data-instgrm-payload-id='instagram-media-payload-5' scrolling='no' style='background: white; max-width: 500px; width: calc(100% - 2px); border-radius: 3px; border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px;')
                        p
                            script(async='' src='//www.instagram.com/embed.js')
                    +e.grid-item.grid-item
                        a(href='http://falconglen.mastak.by/home-delivery-is-available-for-greater-vancouver-area-gvrd-and-the-fraser-valley/')
                            h2
                                | Home Delivery Is Available for Greater Vancouver Area (GVRD) and The Fraser Valley
                        iframe#instagram-embed-6.instagram-media.instagram-media-rendered(src='https://www.instagram.com/p/B-Nglc1hd2D/embed/captioned/?cr=1&v=12&wp=326&rd=http%3A%2F%2Ffalconglen.mastak.by&rp=%2Fblog%2F#%7B%22ci%22%3A6%2C%22os%22%3A4111.899999999878%2C%22ls%22%3A2134.6699999999146%2C%22le%22%3A2136.389999999892%7D' allowtransparency='true' allowfullscreen='true' frameborder='0' height='1220' data-instgrm-payload-id='instagram-media-payload-6' scrolling='no' style='background: white; max-width: 500px; width: calc(100% - 2px); border-radius: 3px; border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px;')
                        p
                            script(async='' src='//www.instagram.com/embed.js')
                    +e.grid-item.grid-item
                        a(href='http://falconglen.mastak.by/throwbacktuesday-the-fraser-river-peeking-through-the-green/')
                            h2 #throwbacktuesday The Fraser River Peeking Through The Green!
                        iframe#instagram-embed-7.instagram-media.instagram-media-rendered(src='https://www.instagram.com/p/B-Hz-6ghXk6/embed/captioned/?cr=1&v=12&wp=326&rd=http%3A%2F%2Ffalconglen.mastak.by&rp=%2Fblog%2F#%7B%22ci%22%3A7%2C%22os%22%3A4390.139999999974%2C%22ls%22%3A2134.6699999999146%2C%22le%22%3A2136.389999999892%7D' allowtransparency='true' allowfullscreen='true' frameborder='0' height='896' data-instgrm-payload-id='instagram-media-payload-7' scrolling='no' style='background: white; max-width: 500px; width: calc(100% - 2px); border-radius: 3px; border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px;')
                        p
                            script(async='' src='//www.instagram.com/embed.js')
                    +e.grid-item.grid-item
                        a(href='http://falconglen.mastak.by/flashbackfriday-spring-dandelions/')
                            h2 #flashbackfriday Spring Dandelions!
                        iframe#instagram-embed-8.instagram-media.instagram-media-rendered(src='https://www.instagram.com/p/B99fnNnB8og/embed/captioned/?cr=1&v=12&wp=326&rd=http%3A%2F%2Ffalconglen.mastak.by&rp=%2Fblog%2F#%7B%22ci%22%3A8%2C%22os%22%3A4573.784999999816%2C%22ls%22%3A2134.6699999999146%2C%22le%22%3A2136.389999999892%7D' allowtransparency='true' allowfullscreen='true' frameborder='0' height='878' data-instgrm-payload-id='instagram-media-payload-8' scrolling='no' style='background: white; max-width: 500px; width: calc(100% - 2px); border-radius: 3px; border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px;')
                        p
                            script(async='' src='//www.instagram.com/embed.js')
                    +e.grid-item.grid-item
                        a(href='http://falconglen.mastak.by/throwbacktuesday-beautiful-sunset-at-the-farm/')
                            h2 #throwbacktuesday Beautiful Sunset At The Farm!
                        iframe#instagram-embed-9.instagram-media.instagram-media-rendered(src='https://www.instagram.com/p/B92Yl9FBawZ/embed/captioned/?cr=1&v=12&wp=326&rd=http%3A%2F%2Ffalconglen.mastak.by&rp=%2Fblog%2F#%7B%22ci%22%3A9%2C%22os%22%3A4765.114999999923%2C%22ls%22%3A2134.6699999999146%2C%22le%22%3A2136.389999999892%7D' allowtransparency='true' allowfullscreen='true' frameborder='0' height='860' data-instgrm-payload-id='instagram-media-payload-9' scrolling='no' style='background: white; max-width: 500px; width: calc(100% - 2px); border-radius: 3px; border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px;')
                        p
                            script(async='' src='//www.instagram.com/embed.js')
