mixin links
    +b.links
        +e.inner
            +e.A.item(target="_blank" href="/course.html") Пройти курс
            +e.A.item.links__item_active(target="_blank" href="/questionPage.html") ВОПРОС-ОТВЕТ
            +e.A.item(target="_blank" href="/account.html") Профиль
