@import "./../../common/constants";


.links{


  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &:after{
      content: "";
      width: 415px;
      height: 6px;
      background: #969AF7;
      border-radius: 4px;
      display: block;
      position: absolute;
      left: 0;
      top: 30px;
      z-index: 1;
    }
  }


  &__item{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #7B7998;
    cursor: pointer;
    width: 151px;
    position: relative;

    &_active{
      &:after{
        content: "";
        width: 95%;
        height: 14px;
        background: #FFFFFF;
        border: 1px solid #CED6FD;
        box-sizing: border-box;
        border-radius: 27.5px;
        position: absolute;
        left: 2.5%;
        top: 26px;
        z-index: 2;
      }
    }

  }

}