@import "./../../common/constants";

.passCourse{

  .over{
    overflow: hidden;
  }

  @include sm{
    margin-top: -289px;
    border-top-right-radius: 37%;
    background: #F2F8FC;
    position: relative;
    z-index: 2;
    padding-top: 20px;
  }

  @include md{
    border-top-right-radius: 22%;
  }


  @include lg{
    border-top-right-radius: 39%;
    margin-top: -459px;
  }

  @include xhd{
    border-top-right-radius: 29%;
  }

  &__logo{
    display: none;

    @include lg{
      display: block;
      width: 147px;
      height: 147px;
      position: absolute;
      right: 30px;
      top: 507px;
    }

    @media (min-width: 1920px) {
      right: 100px;
      top: 900px;
    }

    @media (min-width: 2299px) {
      width: 218px;
      height: 218px;
      right: 100px;
      top: 550px;
    }

  }


  &__title{
    margin-top: 60px;
    width: 179px;

    @include sm{
      width: 180px;
    }

    @include md{
      width: 259px;
    }

    @include hd{
      width: 292px;
    }

  }

  &__circle{
    width: 450px;
    height: 450px;
    background-image: url(./../../images/circle.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-left: -27px;
    position: relative;

    @include m-land{
      margin-left: auto;
      margin-right: auto;
    }

    @include sm{
      margin-left: auto;
      margin-right: 50px;
      margin-top: -50px;
    }

    @include md{
      width: 600px;
      height: 600px;
    }



    @include lg{
      margin-right: 197px;
      margin-top: -111px;
    }

    @include hd{
      width: 700px;
      height: 700px;

    }

    @include xhd{
    }





  }

  &__circle_second{
    mix-blend-mode: normal;
    opacity: 0.33;
    border: 1.32925px dashed #FFFFFF;
    box-sizing: border-box;
    border-radius: 100%;
    width: 320px;
    height: 320px;
    position: absolute;
    left: 68px;
    top: 68px;


    @include md{
      width: 450px;
      height: 450px;
      left: 75px;
      top: 75px;
    }

    @include hd{
      width: 550px;
      height: 550px;
      left: 77px;
      top: 77px;
    }


    @include xhd{
    }
  }

  &__item_number{
    width: 0;
    height: 0 ;
    background: #ffffff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;


    span{
      font-family: 'Oswald', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 0;
      padding-top: 10px;
      text-align: center;
      text-transform: uppercase;
      color: #FFA132;



      @include md{
        font-size: 0;
        line-height: 0;
      }

    }

  }

  &__list{
    position: relative;
  }


  &__item_title{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.664627px;
    color: #FFF1BF;
    display: block;
    margin-top: 12px;
    opacity: 0;
    transform: translateY(50px);

    @include md{
      font-size: 36px;
      line-height: 34px;


    }


  }

  .passCourse__item:nth-child(2){


    @include md{
      .passCourse__item_title{
        width: 200px;
      }
    }



  }


  .passCourse__item:nth-child(1){


    @include md{
      .passCourse__item_title{
        width: 300px;
      }
    }



  }



  &__item{
    width: 132px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


    @include md{
      width: 350px;
    }


    &:nth-child(1){
      position: absolute;
      right: 151px;
      top: 224px;
      transform: translateY(-182px);

      @include md{
        right: 127px;
        top: 301px;
        transform: translateY(-262px);
      }

      @include hd{
        right: 176px;
        top: 376px;
        transform: translateY(-333px);
      }

      @include xhd{
      }

    }

    &:nth-child(2){
      position: absolute;
      left: 184px;
      top: 181px;
      transform: translateX(-178px);

      @include md{
        width: 300px;
        left: 213px;
        top: 204px;
        transform: translateX(-273px);
      }

      @include hd{
        left: 266px;
        top: 267px;
        transform: translateX(-326px);
      }


      @include xhd{
      }

    }


    &:nth-child(3){
      position: absolute;
      right: 148px;
      top: 176px;
      transform: translateY(180px);

      @include md{
        right: 129px;
        top: 206px;
        transform: translateY(262px);
      }

      @include hd{
        right: 178px;
        top: 237px;
        transform: translateY(333px);
      }


      @include xhd{
      }

    }

  }


  &__couple{
    width: 256.86px;
    height: 294.65px;
    margin-top: -159px;
    margin-left: -27px;
    position: relative;


    @include sm{
      margin-left: 72px;
    }


    @include md{
      width: 350px;
      height: auto;
      margin-top: -347px;
    }


    @include lg{
      width: 419px;
      height: 470px;
      margin-top: -550px;
      margin-left: 0;
    }


    @include hd{
      margin-top: -650px;
      margin-left: 200px;
      width: 620.59px;
      height: 711.89px;
    }


    @include xhd{
      width: 500px;
      height: auto;
      margin-left: 123px;
    }


  }



}


.addAnimate{

  .passCourse__item{

    .passCourse__item_number{
      width: 50px;
      height: 50px;
      opacity: 1;
      transition: 1s all;


      span{
        font-size: 30px;
        transition: 1s all;
      }

      @include md{
        width: 70px;
        height: 70px;

        span{
          font-size: 40px;
          line-height: 32px;
        }

      }
    }




    .passCourse__item_title{
      opacity: 1;
      transform: translateY(0);
      transition: 1s all 1s;
    }

  }

}