@import "./../../common/constants";

.header {

  position: fixed;
  width: 100%;
  z-index: 999;

  &__cart-content-metryc-inner{
    padding-top: 30px;
  }



  &__back{
    background-image: url(../../images/header_back.png);
    background-repeat: no-repeat;
    background-position: 50% -5px;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 68.8px;
    pointer-events: none;

    @include sm{
      height: 130px;
      background-image: url(../../images/menu_back2.png);
      background-position: 50% 0;
    }


    @media (min-width : 2500px) {
      background-size: 100%;
    }

  }

  &__inner{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    height: 46px;

    @include sm{
      height: auto;
    }


  }

  &__desctop{
    display: none !important;

    @include md{
      display: flex !important;
    }

  }

  &__mobile{
    display: flex !important;

    @include md{
      display:none !important;
    }

  }

  &__menu-burger{
    margin-top: 8px;
    position: relative;
    width: 30px;
    height: 22px;

    @include sm{
      width: 34px;
      height: 34px;
      margin-top: 16px;
    }


    span{
      background: #3C241B;
      border-radius: 4px;
      width: 30px;
      height: 4px;
      display: block;
      position: absolute;

      @include sm{
        width: 34px;
        height: 4px;
      }

    }

    span:nth-child(1){
      transform: rotate(0);
      transition: .5s all;
      top: 0;
    }

    span:nth-child(2){
      transform: rotate(0);
      top: 8px;
      transition: .5s all;

      @include sm{
        top: 12px;
      }

    }

    &_active{
      span:nth-child(1){
        transform: rotate(45deg);
        position: absolute;
        top: 4px;
        transition: .5s all;
      }

      span:nth-child(2){
        transform: rotate(-45deg);
        position: absolute;
        top: 4px;
        transition: .5s all;
      }
    }


  }

  &__time{
    display: none;

    @include md{
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      margin-top: 5px;
      margin-left: 15px;

      span:nth-child(1){
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        line-height: 17px;
        color: #3F2721;

      }

    }

    @include lg{
      margin-left: 88px;
    }

    @include hd{
      margin-left: 223px;
    }

  }

  &__map{
    margin-left: 20px;
    width: 20px;
    margin-top: 2px;

    span{
      display: none;
    }

    @media (min-width : 375px) {
      margin-left: 33px;
    }

    @media (min-width : 410px) {
      margin-left: 43px;
    }

    @include md{
      margin-top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 15px;
      width: auto;
      height: 21px;



      span{
        display: block;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 19px;
        color: #3b2218;
        margin-left: 10px;
      }

    }


    @include lg{
      margin-left: 48px;
    }

    @include hd{
      margin-left: 153px;
    }

  }

  &__phone{
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    span{
      display: none;
    }

    @media (min-width : 375px) {
      margin-right: 33px;
    }
    @media (min-width : 410px) {
      margin-right: 43px;
    }

    @include md{
      margin-left: 20px;
      margin-right: 0;
      width: auto;
      height: 21px;

      span{
        display: block;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 19px;
        color: #3B2218;
        margin-left: 10px;


      }

    }


    @include lg{
      margin-left: 68px;
    }

    @include hd{
      margin-left: 130px;
    }

  }

  &__mail{
    display: none;

    @include md{
      display: flex;
      margin-right: 0;

      span{
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 19px;
        color: #3B2218;
        margin-left: 10px;
      }

    }

    @include lg
    {
      margin-right: 25px;
    }

    @include hd{
      margin-right: 120px;
    }

  }

  &__cart{
    display: flex;
    align-items: center;
    position: relative;
    width: 25px;
    margin-right: 10px;

    @include sm{
      width: 31.82px;
      height: 28.19px;
    }



  }

  &__cart-number{
    width: 16px;
    height: 16px;
    right: -6px;
    top: -5px;
    background: #E64216;
    content: "";
    position: absolute;
    border-radius: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    padding-top: 3px;

  }


  &__login{
    display: flex;
    align-items: center;
    margin-right: 20px;

    position: absolute;
    right: 0;
    top: 0;

    img{
      width: 26px;
      height: 26px;

    }

    @include md{
      position: relative;
      margin-right: 0px;
      margin-left: 20px;
    }

    @include lg{
      margin-right: 40px;
    }

    @include hd{
      margin-right: 50px;
    }

    span{
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 19px;
      color: #3B2218;
      margin-left: 15px;




      @include md{
        display: block;
        margin-right: 35px;
        margin-left: 10px;

      }

      @include lg{
        margin-right: 0px;

      }
    }

  }

  &__part{
    display: flex;
    align-items: center;

    @include md{
      justify-content: space-between;
    }

  }

  &__logo{
    width: 84px;
    height: 51.6px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    top: 3px;

    @include sm{
      width: 156px;
      height: 96px;
    }

  }

  &__logo-image{
    width: 84px;
    height: 51.6px;

    @include sm{
      width: 156px;
      height: 96px;
    }

  }

  &__menu-inner{
    position: fixed;
    top: 0;
    background: #fff;
    height: 100vh;
    left: -100%;
    transition: left .7s ease;
    display: block;
    width: 100%;
    overflow-y: scroll;
    z-index: 999;
    background-image: url(../../images/menu_back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    &_active{
      left: 0;
      transition: left .7s ease;
    }

    @include sm{
      width: 482px;
    }

    @include lg{
      padding-left: 2rem;
      padding-right: 2rem;
    }

  }

  &__menu{
    cursor:pointer;
  }

  &__menu-close{
    margin-top: 8px;
    position: relative;
    width: 30px;
    height: 30px;

    @include sm{
      width: 34px;
      height: 34px;
      margin-top: 16px;
    }


    span{
      background: #3C241B;
      border-radius: 4px;
      width: 30px;
      height: 4px;
      display: block;
      position: absolute;
      margin-top: 8px;

      @include sm{
        width: 34px;
        height: 4px;
      }
    }

    span:nth-child(1){
      transform: rotate(45deg);
      position: absolute;
      transition: .5s all;
    }

    span:nth-child(2){
      transform: rotate(-45deg);
      position: absolute;
      transition: .5s all;
    }

  }

  &__menu-item-link{

  }

  &__menu-item{

    margin-bottom: 10px;

    @include sm{
      margin-bottom: 20px;
    }


  }

  &__menu-item-link{
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 35px;
    color: #3F2722;
    text-decoration: none;
    cursor: pointer;

    &:after{
      display: block;
      width: 0;
      content: "";
      height: 4px;
      background: #3F2722;
      border-radius: 2px;

      position: relative;
      margin-bottom: 0;

      @include lg{
        transition: .5s all;
      }

    }


    @include lg{
      &:hover{
        &:after{
          width: 80%;
          margin-bottom: 40px;
          transition: .5s all;
        }
      }
    }
  }



  &__menu-item-inner-li{
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 35px;
    color: #3F2722;
    text-decoration: none;
    cursor: pointer;

    &:after{
      display: block;
      width: 0;
      content: "";
      height: 4px;
      background: #3F2722;
      border-radius: 2px;
      position: relative;
      margin-bottom: 0;

      @include lg{
        width: 0;
        transition: .5s all;
      }

    }

    &_active{

      &:after{
        width: 100%;
      }


    }

    @include lg{
      &_active{

        &:after{
          width: 100%;
          transition: .5s all;
        }


      }

      &:hover{
        &:after{
          width: 80%;
          margin-bottom: 40px;
          transition: .5s all;
        }



      }
    }




  }

  &__menu-list{
    margin-top: 20px;
    margin-bottom: 40px;
    padding-bottom: 100px;
  }

  &__menu-item-inner{

    a{
      display: flex;
      align-items: center;
      transform: translateX(-100px);
      opacity: 0;
    }

  }

  &__menu-item-inner-container{
    min-width: 120px;
    width: 120px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  &__menu-item-inner-title{
    margin-left: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #3F2722;

    strong{
      font-weight: bold;
    }

  }

  &__cart-content-metryc-content {
    display: none;
  }
  &__cart-content-metryc-content.active {
    display: block;
  }

  &__cart-inner{
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px #71737D;
    transform: matrix(nan, nan, nan, nan, nan, nan);
    border-radius: 12px;
    z-index: 999;
    width: 307px;
    display: none;
    right: 9px;
    margin-top: 37px;
    padding-top: 10px;
    padding-bottom: 10px;

    @include sm{
      margin-top: 48px;
      width: 481px;
      right: 19px;
    }

    @include md{
      right: 27px;
    }


    @include lg{
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      right: 4px;
    }




    &:before{
      content: "";
      width: 24px;
      height: 13px;
      background-image: url(../../images/arrow.svg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: 50%;
      display: block;
      z-index: 3;
      position: absolute;
      right: 8px;
      top: -9px;
    }

  }

  &__cart-content-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__cart-content-title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #C8CFD7;

    @include lg{
      font-size: 24px;
      line-height: 30px;
    }

  }

  &__cart-content-close{
    width: 20px;
    height: 20px;
    background-image: url(../../images/close.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    z-index: 5;
  }

  &__cart-content-change-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__cart-content-currency{
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #9DADB6;
  }

  &__cart-content-currency-span_active{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #515C9C;

  }

  &__cart-content-metryc{
    width: 100%;
  }

  &__cart-content-metryc-caption{
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;

    li{
      margin-left: 5px;
      margin-right: 5px;
      border: 0.8px solid #C8CFD7;
      box-sizing: border-box;
      border-radius: 9.6px;
      padding-left: 20px;
      padding-right: 20px;
      color: #C8CFD7;
      cursor: pointer;
    }

    .active{
      background: #9DADB6;
      border-radius: 9.6px;
      color: #FFFFFF;
    }

  }


  &__cart-content-change{
    margin-top: -33px;
    position: relative;
    z-index: 4;


  }

  &__cart-content-metryc{
    margin-bottom: 20px;
  }

  &__cart-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 10px;
  }

  &__cart-item-close{
    width: 25px;
    height: 24px;
    background-image: url(../../images/close-cart.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  &__cart-item-content{
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    @include sm{
      flex-direction: row;
    }

    @include lg{
      align-items: center;
    }

  }

  &__cart-item-content-price-total{


    @include sm{
      margin-left: 20px;
    }

  }

  &__cart-item-content-title{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #6A747D;

    @include lg{
      font-size: 18px;
      line-height: 25px;
    }

  }

  &__cart-item-content-price{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #9DADB6;

    @include lg{
      font-size: 14px;
      line-height: 19px;
    }

  }

  &__cart-item-cost{
    width: 84px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }

  &__cart-item-number{
    width: 46px;
    font-style: normal;
    font-weight: normal;
    font-size: 26.28px;
    line-height: 36px;
    text-align: center;
    color: #515C9C;
    border: none;

    @include lg{
      font-size: 36px;
      line-height: 49px;
    }
  }

  &__cart-item-minus{
    font-style: normal;
    font-weight: 300;
    font-size: 26.28px;
    line-height: 36px;
    color: #515C9C;
    cursor: pointer;
  }

  &__cart-item-plus{
    font-style: normal;
    font-weight: 300;
    font-size: 26.28px;
    line-height: 36px;
    color: #515C9C;
    cursor: pointer;
  }

  &__cart-order-content{
    display: flex;
    justify-content: flex-end;
  }


  &__cart-order{
    display: flex;
    border-top: 0.73px solid #C8CFD7;
    padding-top: 10px;
    justify-content: space-between;
    flex-direction: column;
  }

  &__cart-order-button{
    background: linear-gradient(180.58deg, #19B551 0.58%, #009339 115.24%);
    border-radius: 24.5px;
    width: 45%;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
    line-height: 35px;
    text-align: justify;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(1){
      background: linear-gradient(180deg, #F8F9F9 0%, #DFDFDF 100%);
      border: 1px solid #91A2B8;
      box-sizing: border-box;
      border-radius: 24.5px;
      color: #6D7278;
    }

  }

  &__cart-order-total{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #C8CFD7;
    margin-right: 5px;

    @include lg{
      font-size: 18px;
      line-height: 25px;
    }

  }

  &__cart-order-price{
     font-style: normal;
     font-weight: bold;
     font-size: 18px;
     line-height: 25px;
     color: #515C9C;
    margin-right: 3px;

    @include lg{
      font-size: 18px;
      line-height: 25px;
    }
   }

  &__cart-order-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #C8CFD7;
    padding-top: 10px;
  }

  &__add-link{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #B9576E;
    border-bottom: 1px dashed #B9576E;
    margin-bottom: 10px;


  }

  &__cart-order-price-name{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #515C9C;

    @include lg{
      font-size: 18px;
      line-height: 25px;
    }
  }

  &__blur{
    background: #FFFFFF;
    mix-blend-mode: normal;
    width: 100%;
    transition: opacity .5s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
    position: fixed;

    &_active{
      z-index: 3;
      height: 100vh;
      opacity: .92;
      transition: opacity .5s ease-out;
    }

  }

  &__blur-image1{
    position: absolute;
    width: 80px;
    height: 74px;
    right: 580px;
    top: 97.77px;
    opacity: 1;
    //transform: translateY(-300px);
    //transition: .7s all;
  }

  &__blur-image2{
    position: absolute;
    width: 124px;
    height: 123px;
    right: 118px;
    top: 212px;
    opacity: 1;
    //transform: translateY(-300px);
    //transition: .7s all;
  }

  &__blur-image3{
    position: absolute;
    width: 80px;
    height: 75px;
    right: 94px;
    top: 298px;
    opacity: 1;
    //transform: translateY(-300px);
    //transition: .7s all;
  }

  &__blur-image4{
    position: absolute;
    width: 110px;
    height: 102px;
    right: 433px;
    top: 497px;
    opacity: 1;
    //transform: translateY(-300px);
    //transition: .7s all;
  }

  &__blur-image5{
    position: absolute;
    width: 96px;
    height: 96px;
    right: 630px;
    top: 693px;
    opacity: 1;
    //transform: translateY(-300px);
    //transition: .7s all;

  }

  &__cart-content-title{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #515C9C;
    display: block;

    strong{
      font-weight: bold;
    }
  }



  &__cart-content-inner{
    border-top: 0.73px solid #C8CFD7;
    padding-top: 10px;

    &:nth-child(1){
      border-top: none;
    }

  }




}


.header__blur_active{

  //.header__blur-image1{
  //  opacity: 1;
  //  transform: translateY(0);
  //  transition: .7s all .2s;
  //
  //}
  //
  //.header__blur-image2{
  //  opacity: 1;
  //  transform: translateY(0);
  //  transition: .7s all .4s;
  //}
  //
  //.header__blur-image3{
  //  opacity: 1;
  //  transform: translateY(0);
  //  transition: .7s all .6s;
  //}
  //
  //.header__blur-image4{
  //  opacity: 1;
  //  transform: translateY(0);
  //  transition: .7s all .8s;
  //}
  //
  //.header__blur-image5{
  //  opacity: 1;
  //  transform: translateY(0);
  //  transition: .7s all 1s;
  //
  //}





}

.body_active{
  position: fixed;
  width: 100%;
}

.header__blur_move{

  //.header__blur-image1{
  //  animation: float 6s ease-in-out infinite;
  //}
  //
  //.header__blur-image2{
  //  animation: float 6s ease-in-out infinite .3s;
  //}
  //
  //.header__blur-image3{
  //  animation: float 6s ease-in-out infinite .6s;
  //}
  //
  //.header__blur-image4{
  //  animation: float 6s ease-in-out infinite .9s;
  //}
  //
  //.header__blur-image5{
  //  animation: float 6s ease-in-out infinite 1.2s;
  //
  //}


}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}


.header__menu-inner_active{

  .header__menu-item-inner a:nth-child(1){
    transform: translateX(0);
    transition: .5s all .2s;
    opacity: 1;
  }

  .header__menu-item-inner a:nth-child(2){
    transform: translateX(0);
    transition: .5s all .4s;
    opacity: 1;
  }

  .header__menu-item-inner a:nth-child(3){
    transform: translateX(0);
    transition: .5s all .6s;
    opacity: 1;
  }

  .header__menu-item-inner a:nth-child(4){
    transform: translateX(0);
    transition: .5s all .8s;
    opacity: 1;
  }

  .header__menu-item-inner a:nth-child(5){
    transform: translateX(0);
    transition: .5s all 1s;
    opacity: 1;
  }

  .header__menu-item-inner a:nth-child(6){
    transform: translateX(0);
    transition: .5s all 1.2s;
    opacity: 1;
  }

  .header__menu-item-inner a:nth-child(7){
    transform: translateX(0);
    transition: .5s all 1.4s;
    opacity: 1;
  }

  .header__menu-item-inner a:nth-child(8){
    transform: translateX(0);
    transition: .5s all 1.6s;
    opacity: 1;
  }

  .header__menu-item-inner a:nth-child(9){
    transform: translateX(0);
    transition: .5s all 1.8s;
    opacity: 1;
  }



}


input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 33px;
  height: 15px;
  margin-left: 15px;
  margin-right: 15px;
  background: transparent;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    width: 33px;
    height: 15px;
    cursor: pointer;
    animate: 0.2s;
    background: #E8F3FF;
    border: 1px solid #9DADB6;
    box-sizing: border-box;
    border-radius: 7.5px;
  }

  &::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #FFFFFF;
    border: 1px solid #9DADB6;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(81, 92, 156, 0.194083);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -1.45px;
  }

  &:focus::-webkit-slider-runnable-track {
    border-radius: 50px;
    background: #FFFFFF;
    border: 1px solid #9DADB6;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(81, 92, 156, 0.194083);
  }

  &::-moz-range-track {
    width: 33px;
    height: 15px;
    cursor: pointer;
    animate: 0.2s;
    background: #E8F3FF;
    border: 1px solid #9DADB6;
    box-sizing: border-box;
    border-radius: 7.5px;
  }

  &::-moz-range-thumb {
    border-radius: 50px;
    background: #FFFFFF;
    border: 1px solid #9DADB6;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(81, 92, 156, 0.194083);
    height: 15px;
    width: 15px;
    cursor: pointer;
  }

  &::-ms-track {
    width: 33px;
    height: 15px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
  }

  &::-ms-fill-lower, &::-ms-fill-upper {
    border-radius: 50px;
    background: #FFFFFF;
    border: 1px solid #9DADB6;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(81, 92, 156, 0.194083);
  }

  &::-ms-thumb {

    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #FFFFFF;
    border: 1px solid #9DADB6;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(81, 92, 156, 0.194083);
    cursor: pointer;
  }

  &:focus {
    &::-ms-fill-lower, &::-ms-fill-upper {
      border-radius: 50px;
      background: #FFFFFF;
      border: 1px solid #9DADB6;
      box-sizing: border-box;
      box-shadow: 0px 1px 2px rgba(81, 92, 156, 0.194083);
    }
  }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.account-img img{
  width: 20px;
  height: 27px;
}

.backGrey{
  background: #f2f2f2;
}

.woocommerce-NoticeGroup{
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 15px;

}

.woocommerce-message{
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: #6a747d;
  margin-top: 20px;
  display: block;
  margin-bottom: 15px;
}

.woocommerce-error{
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: red;
  margin-top: 20px;
  display: block;
  margin-bottom: 15px;
}

.woocommerce-info{
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: #6a747d;
  margin-top: 20px;
  display: block;
  margin-bottom: 15px;
}

.account-img{

  span{

    @include md{
      width: 32px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    @include lg{
      width: 86px;
    }

    @include hd{
      width: 151px;
    }

  }

}


.header__menu-inner_active{


  .header__menu-item-link {

    &_active {

      &:after {
        width: 80%;
      }


    }

    @include lg{
      &_active {

        &:after {
          width: 80%;
          transition: .5s all .5s;
        }


      }
    }
  }
}

.captcha-title{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #3f2722;
  width: 100%;
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

#ux_txt_captcha_challenge_field{
  display: block;
  background: #fff;
  border: 1px solid #c8cfd7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #6a747d;
  padding-left: 10px;
  width: 150px;
  margin-bottom: 1rem;
  height: 34px;
}