mixin header()
    +b.header
        +e.line
        +e.square
        +e.inner
            .container
                +e.content
                    +e.burger
                        span
                        span
                    +e.A.logo-link(href='/')
                        +e.logo-oval
                        +e.logo-wrapper
                            +e.IMG.logo(src=require('./../images/logo.svg'), alt='')
                    +e.menu
                        +e.menu-scroll
                            +e.menu-scroll-item.header__menu-scroll-item_active(href="" id="page1") Для  родителей
                            +e.menu-scroll-item(href="" id="page2") Для  специалистов
                            +e.SPAN.menu-scroll-roll
                        +e.UL.menu-list
                            +e.LI.menu-item
                                A(href="#experts") Мнения экспертов
                            +e.LI.menu-item
                                A(href="#learn") Как пройти обучение
                            +e.LI.menu-item
                                A(href="#passCourse") Вы получите
                            +e.LI.menu-item
                                A(href="#question") Задать вопрос
                            +e.LI.menu-item
                                A(href="#services") Интерактивная карта
                    +e.A.login
                        IMG(src=require('./../images/login.svg'), alt='')
                        SPAN ВОЙТИ
        +menu()