@import "./../../common/constants";

.header{

  position: relative;
  z-index: 10;


  &_active{
    z-index: 999;
    .header__square{
      opacity: 0;
      transition: .5s all;
      z-index: unset;
    }

    .header__line{
      width: 100%;
      height: 2px;
      background: #ffffff;
      transition: .5s all;

      @include md{
        height: 4px;
      }
    }

    .header__logo-wrapper{
      background-image: url(./../../images/circle-type-mobile-active.svg);
      transition: .5s all;
    }

    .header__logo-oval{
      opacity: 0;
      transition: .5s all;
    }

    .header__inner{
      z-index: unset;
      transition: .1s all .5s;
    }

    .header__content{
      z-index: unset;
      transition: .1s all .5s;
    }

    .header__auth{

      pointer-events: none;

      span{
        opacity: 0;
      }
    }

    .menu__auth{
      span{
        color: #ffffff;
        transition: .5s all .5s;
      }

    }

  }

  &__switch {

    position: relative;
    display: flex;
    align-items: flex-start;
    margin-right: 20px;
  }


  &__switch .lbl-off{
    margin-right: 10px;
  }

  &__switch .lbl-on{
    margin-left: 10px;
  }


  &__switch .lbl-off,
  &__switch .lbl-on {
    cursor: pointer;
    display: block;
    margin-top: 1px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: right;

    color: #B8B8B8;


  }
  &__switch .switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 0;
    font-size: 1em;
    line-height: 0;
    outline: none;
    min-width: 26px;
    margin-top: 3px;
  }
  &__switch .switch:before, &__switch .switch:after {
    content: '';
    font-size: 1em;
    position: absolute;
  }
  &__switch .switch:before {
    background: #D3E7FF;
    border: 1px solid #009EE0;
    box-sizing: border-box;
    border-radius: 7.5px;
    min-width: 26px;
    height: 12.52px;
  }
  &__switch .switch:after {
    background: #FFFFFF;
    border: 1px solid #009EE0;
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(113, 195, 255, 0.83);
    min-width: 14px;
    height: 14.61px;
    transform: translate(0, 0);
    transition: transform 0.25s ease-out 0.1s;
    margin-top: -1px;
  }
  &__switch .switch:checked:after {
    transform: translate(12px, 0);
  }
  &__switch .switch:checked ~ .lbl-off {
    opacity: 0;
  }
  &__switch .switch:checked ~ .lbl-on {
    opacity: 1;
  }

  &__line{
    background-image: url(./../../images/line-type-mobile.svg);
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    transition: .5s all;

    @include md{
      height: 4px;
      background-image: url(./../../images/line-header.svg);
    }
  }

  &__square{
    height: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(255, 255, 255, 0.9);
    opacity: 1;
    transition: .5s all;

    @include md{
      background: transparent;
    }

  }


  &__inner{
    width: 100%;
    height: 59px;
    position: relative;
    z-index: 2;

    @include md{
      height: 116px;
    }

  }

  &__logo-wrapper{
    background-image: url(./../../images/circle-type-mobile.svg);
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 130px;
    height: 59px;
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    transition: .5s all;

    @include md{
      height: 116px;
      min-width: 265px;
      margin-top: 5px;
    }
  }

  &__logo-oval{
    background-image: url(./../../images/oval-type-header.svg);
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 130px;
    height: 30px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    transition: .5s all;

    @include md{
      background: transparent;
    }
  }

  &__content{
    height: 59px;
    width: 100%;
    display: flex;
    position: relative;
    z-index: 3;

    @include md{
      height: 116px;
    }
  }

  &__burger{

    margin-top: 8px;
    width: 28px;
    height: 12px;
    z-index: 1;
    cursor: pointer;

    @include lg{
        display: none;
    }


    span{
      width: 28px;
      height: 3px;
      background: #00B2FF;
      border-radius: 4px;
      display: flex;

    }

    span:nth-child(1){
      margin-top: 0;
      transition: .5s transform;
      transform: rotate(0);
    }

    span:nth-child(2){
      margin-top: 6px;
      transition: .5s transform;
      transform: rotate(0);
    }

    &_active{

      span:nth-child(1){
        background: #ffffff;
        transform: rotate(45deg);
        margin-top: 6px;
        transition: .5s transform;
        position: absolute;
      }

      span:nth-child(2){
        background: #ffffff;
        transform: rotate(-45deg);
        margin-top: 6px;
        transition: .5s transform;
        position: absolute;
      }

    }


    @include md{
      margin-top: 28px;
    }



  }

  &__logo{
    width: 56.2px;
    height: 56.2px;
    margin-left: 4px;
    margin-top: -1px;

    @include md{
      width: 109px;
      height: 109px;
      margin-left: -2px;
      margin-top: -2px;
    }

  }

  &__logo-link{
    margin-top: -1px;
    position: relative;
  }

  &__auth{
    margin-left: auto;
    margin-top: 3px;
    text-decoration: none;
    span{
      font-style: normal;
      font-weight: bold;
      font-size: 10px;
      line-height: 14px;
      text-align: right;
      color: #00B2FF;
    }


    @include md{
      display: none;
    }

  }

  &__desktop{

    display: none;

    @include md{
      display: flex;
      margin-left: auto;
      margin-top: 22px;
    }
  }

  &__login{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: #00B2FF;
    text-decoration: none;
    margin-right: 27px;
    margin-top: -3px;
  }

  &__menu{
    display: none;

    @include lg{
      display: flex;
      align-items: center;
      margin-left: auto;
      width: 100%;
    }
  }

  &__menu-scroll{
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px #E5E7FE;
    border-radius: 30.5px;
    width: 432px;
    height: 61px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 140px;
    display: none;

  }

  &__menu-scroll-item{
    width: 50%;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #7B93FD;
    z-index: 2;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s all;
    cursor: pointer;

    &_active{
      color: #ffffff;
      transition: .5s all;
    }
  }

  &__menu-scroll-roll{
    background: #7D90FD;
    border-radius: 30.5px;
    width: 232px;
    height: 61px;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: .5s all;

    &_active{
      left: 50%;
      transition: .5s all;
    }
  }

  &__login{
    background: #FFFFFF;
    border: 1px solid #CED6FD;
    box-sizing: border-box;
    border-radius: 27.5px;
    padding: 2px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: unset;
    margin-top: 3px;
    height: 26px;

    @include md{
      height: 55px;
      padding: 6px;
      margin-top: 10px;
    }

    @include lg{
      margin-top: 28px;
    }


    img{
      width: 20px;
      height: 20px;
      margin-right: 5px;

      @include md{
        width: 42px;
        height: 42px;
        margin-right: 21px;
      }
    }

    span{
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      color: #7B93FD;padding-right: 5px;

      @include md{
        font-size: 16px;
        line-height: 22px;
      }

      @include lg{
        padding-right: 28px
      }
    }
  }

  &__menu-list{
    align-items: center;
    justify-content: flex-end;
    margin-left: 210px;
    display: none;

    @include lg{
      margin-right: 40px;
      margin-left: auto;
      margin-top: 42px;
    }

  }


  &__menu-item{

    list-style-type: none;
    margin-left: 12px;
    margin-right: 12px;
    width: 80px;

    @include lg{
      width: unset;
    }


    a{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #7B7998;

    }

  }


}


