@import "./../../common/constants";

.link{
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  background: linear-gradient(88.39deg, rgba(162, 88, 197, 0.82) -6.06%, rgba(237, 86, 207, 0.906465) 44.65%, #FFB7A0 99.5%);
  border-radius: 21.5px;
  padding: 12px 26px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition: 1s background;

  &:hover{
    background: linear-gradient(88.39deg, rgba(255, 122, 80, 0.906465) -6.88%, #FFD9A0 99.5%);
    transition: 1s background;
  }

  &__dop{
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 19px !important;
    text-align: center !important;
    color: #00B2FF !important;
    background: linear-gradient(77.64deg, #C2EDFF 13.12%, #FFE4FE 87.98%) !important;
    border-radius: 50px !important;
    text-decoration: none !important;
    margin-top: 15px;

    @include md{
      margin-top: 0;
      margin-left: 15px;
    }

    &:hover{
      background: linear-gradient(88.39deg, rgba(255, 122, 80, 0.906465) -6.88%, #FFD9A0 99.5%);
      transition: 1s background;
    }

  }

}