@import "./../../common/constants";



.custom-button{
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(88.85deg, rgba(162, 88, 197, 0.82) -6.06%, rgba(237, 86, 207, 0.906465) 44.65%, #FFB7A0 99.5%);
  transition:  1s background;
  border-radius: 21.5px;
  padding: 12px 46px;
  border: none;
  cursor: pointer;

  &:hover{
    background: linear-gradient(88.39deg, rgba(255, 122, 80, 0.906465) -6.88%, #FFD9A0 99.5%);
    transition:  1s background;
  }

}