mixin form()
    +b.form
        +e.inner
            +e.tabs-content
                input(type='radio' name='toggle' checked='' id="signId")
                input(type='radio' name='toggle' id="auth")
                +e.tabs
                    label(for='signId') ВОЙТИ
                    label(for='auth') зарегистрироваться
                    span
                +e.content
                    .signId-content
                        .signIn
                            form(id="sign-in")
                                +form-input('Логин')(name='login' type='text')
                                +form-input('Пароль')(name='password' type='password')
                                .signIn__remember
                                    .signIn__container
                                        | Запомнить
                                        input(type='checkbox')
                                        SPAN.signIn__checkmark
                                .signIn__type
                                    +e.dop-types
                                        +custom-button('Войти')(type='submit')
                                        +link('Подробнее о курсе')(class="link__dop")
                                    span
                                        | Нажимая кнопку "Войти" я
                                        a(href='') принимаю пользовательское соглашение
                    .auth-content
                        .signUp
                            form(id="sign-up")
                                +form-input('Логин')(name='login' type='text')
                                +form-input('Пароль')(name='password' type='password')
                                +form-input('Подтвердить пароль')(name="confirmPassword" type="password")
                                .signUp__remember
                                    .signUp__container
                                        | Запомнить
                                        input(type='checkbox')
                                        SPAN.signUp__checkmark
                                .signUp__type
                                    +custom-button('Зарегестрироваться')(type='submit')
                                    span
                                        | Нажимая кнопку "Войти" я
                                        a(href='') принимаю пользовательское соглашение
        +e.inner.form__dop-link
            +e.tabs-content
                +e.content
                    .signId-content
                        .signIn
                            form(id="sign-in")
                                +e.dop-content
                                    IMG(src=require('./../images/grom.png'))
                                +link('Перейти к обучению')()