@import "./../../common/constants";

.account{

  margin-top: 20px;


  &__passport{

    .account__item-input:nth-child(1){
      @include sm{
        width: 52px;
        min-width: 53px;
      }
    }


  }

  &__item-head-type{
    display: flex;
    margin-top: 20px;
  }

  &__wrapper{

    img{
      width: 100%;
      display: none;

      @include m-land{
        width: 50%;
        margin-left: auto;
      }

      @include sm{
        width: 48%;
        margin-left: auto;
        display: block;
        margin-top: -70px;
      }

      @include md{
        margin-top: -150px;
        width: 520.26px;
      }

      @include lg{
        margin-top: -200px;
      }

      @include hd{

        width: 974px;
        margin-top: -300px;

      }

    }

  }

  .text{

    @include sm{
      width: 433px;
    }

    @include hd{
      font-size: 20px;
      line-height: 26px;
      width: 546px;
    }

  }

  .title{

    @include md{
      padding-top: 80px;
    }

    @include hd{
      width: 757px;
      font-size: 95px;
      line-height: 95px;
      padding-top: 145px;

    }

  }

  .links{
    display: none;

    @include md{
      display: block;
    }

  }


  &__inner{

    @include sm{
      display: flex;
      justify-content: space-between;
    }

  }

  [type="date"] {
    background: #fff url(./../../images/calendar.png) 97% center no-repeat;
    background-size: 10%;

    @include m-land{
      background: #fff url(/src/icons/calendar.png) 98% center no-repeat;
      background-size: 6%;
    }

  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  &__list{

    margin-top: 20px;
    margin-bottom: 50px;

    @include lg{
      margin-top: -50px;
    }

    @include hd{
      margin-top: -200px;
    }

  }

  &__item-head{
    display: flex;
    align-items: center;
  }

  &__item-title{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    text-transform: uppercase;
    color: #00B2FF;
  }

  &__item-update{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    background: #00B2FF;
    box-shadow: 0px 2px 4px #7ED8FF;
    border-radius: 42.5px;
    border: 0;
    padding: 2px 8px;
    margin-right: 15px;
    transition: .5s background;
    cursor: pointer;

    &:hover{
      background: #0090ce;
      transition: .5s background;
    }

    @include md{
      font-size: 16px;
      line-height: 19px;
      padding: 4px 12px;
    }

  }


  &__item-head{
    margin-bottom: 1rem;

  }

  &__item{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #B8B8B8;

    &:nth-child(3){
      border-bottom: none;
    }

    @include md{
      margin-bottom: 30px;
      padding-bottom: 30px;
    }

  }

  &__item-label{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #46555A;
    margin-left: 0;

    @include lg{
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 10px;
    }
  }

  &__item-input{
    display: flex;
    flex-direction: column;


    @include sm{
      width: 48%;
      margin-right: 20px;

      &:nth-child(2n){
        margin-right: 0;
      }

    }

    @include md{
      width: 390px;
      min-width: 390px;
      margin-right: 37px;

      &:nth-child(2n){
        margin-right: 0;
      }
    }

  }

  &__item-inputs{

    @include sm{

      display: flex;
      flex-wrap: wrap;

    }

    @include md{
      width: 880px;
    }

  }


  &__date{
    background: #FFFFFF;
    opacity: 0.9;
    border: 1px solid #B8B8B8;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 100%;
    height: 43px;
    margin-top: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #46555A;
    padding-left: 10px;
  }







  .form-input__item-label{

    @include lg{
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 10px;
    }

  }

  .disable{

    .form-input__item-label{
      color: #9B9B9B;
    }

    .form-input__item-input{
      pointer-events: none;
      font-family: 'Bebas Neue';
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 29px;
      color: #E08181;
    }

    .account__item-label{
      color: #9B9B9B;
    }

    .account__date{
      pointer-events: none;
      font-family: 'Bebas Neue';
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 29px;
      color: #E08181;
    }


  }

}