mixin account()
    +b.account
        .container
            +e.inner
                +e.wrapper-title
                    +e.SPAN.title Account
                +e.cart-content-metryc-content.active
                    +e.UL.tabs-caption
                        li.active My account
                        li Order history
                    +e.tabs-inner
                        +e.tabs-content.active
                            +e.tabs-ship
                                +e.back(src=require('./../images/order-back.png'), alt='Background')
                                .container
                                    +e.tabs-ship-form
                                        +e.tabs-ship-item
                                            +e.LABEL.tabs-ship-label Title*
                                            +e.tabs-container-item-inner-tab
                                                +e.SELECT.tabs-ship-item-select(name="title[]")
                                                    +e.OPTION.tabs-ship-item-option(value="1") Please select
                                                    +e.OPTION.tabs-ship-item-option(value="1") Please select
                                                    +e.OPTION.tabs-ship-item-option(value="1") Please select
                                        +e.tabs-ship-item.input
                                            +e.LABEL.tabs-ship-label First Name*
                                            +e.tabs-container-item-inner-tab
                                                +e.INPUT.tabs-container-item-input(type="text" name="firstName")
                                        +e.tabs-ship-item.input
                                            +e.LABEL.tabs-ship-label Last Name*
                                            +e.tabs-container-item-inner-tab
                                                +e.INPUT.tabs-container-item-input(type="text" name="lastName")
                                        +e.tabs-ship-item.input
                                            +e.LABEL.tabs-ship-label E-mail
                                            +e.tabs-container-item-inner-tab
                                                +e.INPUT.tabs-container-item-input(type="text" name="email")
                                        +e.tabs-ship-title Password change:
                                        +e.tabs-ship-item.input
                                            +e.LABEL.tabs-ship-label Address
                                            +e.tabs-container-item-inner-tab
                                                +e.INPUT.tabs-container-item-input(type="text" name="addres" placeholder="leave blank to leave unchnge")
                                        +e.tabs-ship-item.input
                                            +e.LABEL.tabs-ship-label New passpord
                                            +e.tabs-container-item-inner-tab
                                                +e.INPUT.tabs-container-item-input(type="text" name="addres" placeholder="leave blank to leave unchnge")
                                        +e.tabs-ship-item.input
                                            +e.LABEL.tabs-ship-label Confirm new password
                                            +e.tabs-container-item-inner-tab
                                                +e.INPUT.tabs-container-item-input(type="text" name="addres" placeholder="")
                            +e.total-count
                                +e.total-count-button
                                    +e.BUTTON.total-count-button-text(type="submit") Save changes
                                +e.total-count-button-logout
                                    +e.A.total-count-button-logout-text(href="") Log out
                        +e.tabs-content
                            +e.back2(src=require('./../images/back2.png'), alt='Background')
                            .container
                                +e.main__category
                                    +e.TABLE.tab-table
                                        +e.THEAD.title-table
                                            +e.TR.tab-title-tr
                                                +e.TH.tab-title-th Order
                                                +e.TH.tab-title-th Date
                                                +e.TH.tab-title-th Status
                                                +e.TH.tab-title-th Total
                                                +e.TH.tab-title-th
                                                +e.TH.tab-title-th
                                        +e.TR.tab-tr
                                            +e.TD.tab-th(data-title="Order:")
                                                +e.A.tab-link(href="") № 997
                                            +e.TD.tab-th(data-title="Date:") 14-th February 2020
                                            +e.TD.tab-th(data-title="Status:")
                                                span.green-type Done
                                            +e.TD.tab-th(data-title="Total:") 10.31 USD
                                            +e.TD.tab-th(data-title=" ")
                                                +e.tab-type
                                                    +e.A.tab-link.view(href="") more details...
                                            +e.TD.tab-th(data-title=" ")
                                                +e.tab-type
                                                    +e.A.tab-link.reorder(href="") repeat order
                                        +e.TR.tab-tr
                                            +e.TD.tab-th(data-title="Order:")
                                                +e.A.tab-link(href="") № 997
                                            +e.TD.tab-th(data-title="Date:") 14-th February 2020
                                            +e.TD.tab-th(data-title="Status:")
                                                span.red-type Decline
                                            +e.TD.tab-th(data-title="Total:") 10.31 USD
                                            +e.TD.tab-th(data-title="")
                                                +e.tab-type
                                                    +e.A.tab-link.view(href="") more details...
                                            +e.TD.tab-th(data-title="")
                                                +e.tab-type
                                                    +e.A.tab-link.reorder(href="") repeat order

