include ./mastak-lib/mixins
include ./components/header/header
include ./components/footer/footer
include ./components/social/social
include ./components/menu/menu
include ./components/banner-main/banner-main
include ./components/title/title
include ./components/text/text
include ./components/popup/popup
include ./components/custom-button/custom-button
include ./components/form/form
include ./components/form-input/form-input
include ./components/form-textarea/form-textarea
include ./components/link/link
include ./components/tags/tags
include ./components/experts/experts
include ./components/passCourse/passCourse
include ./components/learn/learn
include ./components/question/question
include ./components/services/services
include ./components/partners/partners
include ./components/image/image
include ./components/page-banner/page-banner
include ./components/links/links
include ./components/course-page/course-page
include ./components/test/test
include ./components/page-experts/page-experts
include ./components/account/account
include ./components/page404/page404
include ./components/sign-in/sign-in