@import "./../../common/constants";

.text {

  flex-grow: 1;

  &__wrapper-title{
    background: url(./../../images/header-b.jpg) no-repeat center center;
    background-size: 150% 100%;
    background-position: -110px 100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    display: -webkit-box;

    @include sm{
      background-position: -265px 100%;
    }

    @include md{
      background-position: -200px 100%;
    }

    @include lg{
      background-position: -250px 100%;
    }

  }


  &__title{
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 18vw;
    line-height: 1;
    letter-spacing: -8px;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: auto;

    @include sm{
      font-size: 14vw;
    }

    @include md{
      margin-bottom: 20px;
      font-size: 10vw;
      letter-spacing: -8px;
    }

    @include lg{
      font-size: 8vw;
    }

    @include hd{
      font-size: 6.5vw;
    }

    @include xhd{
      font-size: 5vw;
    }


  }

  &__editor{
    margin: 1rem 0;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 3rem;
    z-index: 2;

    @include lg {
      margin: 2rem 0;
    }

    p{
      margin: 1rem 0;
      font-family: "Open Sans", sans-serif;

      @include lg {
        margin: 2rem 0;
      }
    }

    strong{
      margin: 1rem 0;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;

      @include lg {
        margin: 2rem 0;
      }
    }
    em{
      margin: 1rem 0;
      font-family: "Open Sans", sans-serif;
      font-style: italic;

      @include lg {
        margin: 2rem 0;
      }
    }
    del{
      margin: 1rem 0;
      font-family: "Open Sans", sans-serif;

      @include lg {
        margin: 2rem 0;
      }
    }
    a{
      text-decoration: none;
      margin: 1rem 0;
      font-family: "Open Sans", sans-serif;

      @include lg {
        margin: 2rem 0;
      }
    }
    ul{
      margin-top: .5px;

      @include lg{
        margin-top: 1rem;
      }
      li{
        margin: .5rem 0;
        font-family: "Open Sans", sans-serif;
        padding-left: 15px;
        list-style-type: disc;
        list-style: inside;

        @include lg {
          margin: 1rem 0;
        }
      }
    }

    ol{

      list-style-type: decimal;
      margin-top: .5px;

      @include lg{
        margin-top: 1rem;
      }

      ul{

        list-style-type: disc;
        padding-left: 15px;


      }

    }

    ol{

      list-style-type: decimal !important;
      margin-top: .5px;

      @include lg{
        margin-top: 1rem;
      }

      li{
        margin: .5rem 0;
        font-family: "Open Sans", sans-serif;
        padding-left: 15px;
        list-style-type: decimal !important;
        list-style: inside;

        @include lg {
          margin: 1rem 0;
        }
      }
    }
    ul {

      margin-top: .5px;

      @include lg{
        margin-top: 1rem;
      }

      ul{

        padding-left: 15px;

        li{
          margin: .5rem 0;
          font-family: "Open Sans", sans-serif;
          padding-left: 15px;
          list-style-type: disc;
          list-style: inside;

          @include lg {
            margin: 1rem 0;
          }
        }

      }

    }
    ol {

      margin-top: .5px;

      @include lg{
        margin-top: 1rem;
      }

      ol{

        padding-left: 15px;

        li{
          margin: .5rem 0;
          font-family: "Open Sans", sans-serif;
          padding-left: 15px;
          list-style-type: decimal !important;
          list-style: inside;

          @include lg {
            margin: 1rem 0;
          }
        }

      }

    }

    blockquote {

      padding-left: 20px;


      p{
        margin: .5rem 0;
        font-family: "Open Sans", sans-serif;

        @include lg {
          margin: 1rem 0;
        }
      }

      cite{
        margin: .5rem 0;
        font-family: "Open Sans", sans-serif;
        font-style: italic;

        @include lg {
          margin: 1rem 0;
        }
      }

    }
    h2 {
      margin: 1rem 0;
      font-family: "Open Sans", sans-serif;

      @include lg {
        margin: 2rem 0;
      }
    }

    h3 {
      margin: 1rem 0;
      font-family: "Open Sans", sans-serif;

      @include lg {
        margin: 2rem 0;
      }
    }

    h4{
      margin: 1rem 0;
      font-family: "Open Sans", sans-serif;

      @include lg {
        margin: 2rem 0;
      }
    }

  }

  &__inner {
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
    background:  #F2F2F2;
    min-height: 90vh;
  }

  &__front {
    overflow: hidden;
  }

  &__front-inner {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @include md {
      flex-direction: row;
    }

    @include xll {
      max-width: 1596px;
      margin: 0 auto;
      overflow: visible;
    }
  }

  &__front-text {
    position: relative;
    z-index: 1;
    padding-top: 50px;

    @include sm {
      padding-top: 100px;
    }

    @include md {
      width: 50%;
      min-width: 620px;
      padding-bottom: 50px;
      padding-top: 145px;
    }

    @include lg {
      padding-left: 40px;
    }
  }

  &__front-background {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;

    @include md{
      width: 50%;
      padding-top: 145px;
    }

  }

  &__front-heading-pic {
    width: 100%;
    height: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 43px;

    letter-spacing: -4px;
    color: #515C9C;

    @include md{
      font-size: 72px;
      line-height: 68px;
    }
  }

  &__front-subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #565656;
    margin: 1rem 0;

    @include sm {
      font-size: 20px;
      line-height: 28px;
    }

    @include lg {
      font-size: 24px;
      line-height: 33px;
      margin: 2rem 0;
    }
  }
  &__front-description {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.64px;
    color: #565656;

    @include sm {
      font-size: 16px;
      line-height: 23px;
    }

    @include lg {
      font-size: 18px;
    }
  }

  &__quotation-inner{
    position: relative;
    margin: 2.5rem 0;
  }
  &__quotation-marks {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__quotation-marks-pic {
    width: 100%;
    height: auto;
  }
  &__quotation-mark {
    margin-left: 10px;
  }

  &__quotation-mark_active {
    animation: quotation-mark 1s linear infinite;
  }



  &__quotation{
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #515C9C;
    position: relative;
    z-index: 1;
    margin-bottom: 1rem;

    @include sm {
      font-size: 24px;
      line-height: 33px;
    }
  }

  &__quotation-inscription {
    font-style: normal;
    font-size: 12px;
    line-height: 21px;
    color: #515C9C;
    position: relative;
    z-index: 1;

    SPAN {
      display: block;
    }

    SPAN:nth-child(1) {
      font-weight: bold;
    }
    SPAN:nth-child(2) {
      font-weight: normal;
    }

    @include sm {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__quotation-text {
    padding: 1.5rem 0 0 3rem;
  }



  &__front-image{
    margin-bottom: 20px;
  }

  &__bush {
    min-width: 500px;
    width: 500px;
    position: relative;
    left: -35px;

    @include sm {
      min-width: 1100px;
      width: 1100px;
      position: relative;
      left: -75px;
    }
    @include md {
      left: 0;

    }
    @include lg {
      min-width: 1560px;
      width: 1560px;
      top: -115px;
    }
  }

  &__paul {
    position: absolute;
    bottom: 30px;
    width: 250px;
    left: 50%;
    transform: translateX(-50%);

    @include sm {
      position: absolute;
      width: 400px;
      left: 10%;
      bottom: 160px;

      transform: unset;
    }

    @include md {
      left: 20%;
      bottom: 100px;
    }

    @include lg {
      width: 445px;
      bottom: 200px;
      left: 33%;

    }
  }

  &__paul-pic, &__bush-pic {
    width: 100%;
    height: auto;
  }




}

@keyframes quotation-mark {

  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-3px, 0);
  }
  25% {
    transform: translate(-3px, 0);
  }
  45% {
    transform: translate(-3px, 3px);
  }
  50% {
    transform: translate(-3px, 3px);
  }
  70% {
    transform: translate(0, 3px);
  }

  75% {
    transform: translate(0, 3px);
  }

  95% {
    transform: translate(0)
  }

  100% {
    transform: translate(0);
  }

}