@import "./../../common/constants";
.text{

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  opacity: 0;
  transform: translateX(-100px);


  @include md{
    font-size: 16px;
    line-height: 22px;
  }



  &_black{
    color: #46555A;
  }

  &_white{
    color: #FFFFFF;
  }

}

.text.visible{

  opacity: 1;
  transform: translateX(0);
  transition: 1s all .5s;

}