mixin text()
    +b.text
        +e.inner
            +e.front
                +e.front-inner
                    +e.front-text
                        .container
                            +e.front-heading
                                +e.wrapper-title
                                    +e.SPAN.title Products
                            +e.editor
                                P Falconglen Organic Farms is a certified organic blueberry farm situated on 70 acres of farmland, only 45 minutes from downtown Vancouver, in the historic Township of Langley, British Columbia.
                                strong Falconglen Organic Farms
                                em Falconglen Organic Farms
                                del Falconglen Organic Farms
                                a Falconglen Organic Farms
                                ul
                                    li Falconglen Organic Farms
                                    li Falconglen Organic Farms
                                ol
                                    ul
                                ul
                                    ul
                                        li Falconglen Organic Farms
                                        li Falconglen Organic Farms
                                ol
                                    ol
                                        li Falconglen Organic Farms
                                        li Falconglen Organic Farms
                                blockquote
                                    p Falconglen Organic Farms
                                    cite Falconglen Organic Farms
                                h2 Falconglen Organic Farms
                                h3 Falconglen Organic Farms
                                h4 Falconglen Organic Farms
                                +e.quotation-inner
                                    +e.quotation-marks
                                        +e.quotation-mark.annotation__quotation-mark-left(src=require('./../images/quotation-mark.svg'), alt='Quotation marks')
                                        +e.quotation-mark.annotation__quotation-mark-right(src=require('./../images/quotation-mark.svg'), alt='Quotation marks')
                                    +e.quotation-text
                                        +e.quotation To me, farming successfully means treating the land and environment with respect.
                                        +e.quotation-inscription
                                            +e.SPAN Paul Falcon
                                            +e.SPAN Farmer & Owner, Falconglen Organics Farm
                    +e.front-background
                        +e.front-image(src=require('./../images/blue1.jpg'), alt='Background')
                        +e.front-image(src=require('./../images/blue1.jpg'), alt='Background')