include ./../mixins
doctype html
html
    +head()
    body(class="app")
        //+loader('loader__spinner_falcon')
        main.main
            +header()
            +banner-main()
            +tags()
            +experts()
            +passCourse()
            +learn()
            +question()
            +services()
            +partners()
            +footer()

