include ./../mixins
doctype html
html
    +head()
    body(class="app body-background")
        +popup()
        +popup-order()
        main.main
            +header()
            +products()
            +footer()