@import "./../../common/constants";

.tags{

  background-image: url(./../../images/tags-mobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -120px;
  position: relative;
  padding-top: 120px;
  padding-bottom: 90px;
  display: none;

  @include m-land{
    margin-top: -315px;
  }

  @include sm{
    background-image: url(./../../images/tags-desktop.png);
    background-size: 100% 100%;
    margin-top: -270px;
  }

  @include md{
    margin-top: -326px;
  }


  @include lg{
    background-image: url(./../../images/tags-dop.png);
    background-size: cover;
    margin-top: -577px;
    height: 849px;
    z-index: 2;
  }


  @include hd{
    margin-top: -641px;
  }

  @include xhd{
    margin-top: -585px;
  }


  &__first{

    @include sm{
      padding-top: 50px;
    }

    @include md{
      padding-top: 20px;
    }

    @include xhd{
      margin-left: -200px;
    }
  }

  &__wrap-text{

    .link:nth-child(1){
      margin-right: 15px;
    }

  }


  &__mobile-first{
    width: 238px;
    height: 112px;
    display: none;

    @include m-land{
      margin-left: 50px;
    }

    @include sm{
      display: block;
    }

    @include md{
      display: none;
    }

  }

  &__content{

    width: 85%;
    margin-left: 12.5%;

    @include m-land{
      width: 70%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    @include sm{
      width: 283px;
      margin-left: auto;
      padding-right: 127px;
      margin-right: auto;
      margin-top: 91px;
    }

    @include md{
      width: 432px;
      margin-top: 33px;
    }

    @include lg{
      padding-right: 275px;
    }

   @include hd{
     width: 534px;
     margin-top: 85px;
   }



  }

  &__second{

    @include sm{
      margin-top: -193px;
    }
  }

  &__mobile-second{
    width: 292px;
    height: 204.22px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    display: none;

    @include m-land{
      margin-left: 137px;
    }

    @include sm{
      margin-right: unset;
      display: block;
    }

    @include md{
      display: none;
    }

  }

  &__tags__item{
    display: none;

    @include md{
      display: block;
    }

    @include hd{
    }



  }

  &__item-title{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.301693px;
    color: #FFFFFF;
    opacity: 0;
    transition: .5s all;

    &_active{
      opacity: 1;
      transition: .5s all;
    }


    @include lg{
      letter-spacing: 0.5px;
    }
  }

  &__item{

    flex-direction: column;
    display: none;

    @include md{
      display: flex;
    }

    @include lg{
      margin-top: 100px;
    }

    @include hd{
      margin-top: 20px;
    }

    @include xhd{
      margin-top: 20px;
      margin-left: 190px;
    }
  }

  &__wrap-text{

    .link{
      background: linear-gradient(180deg, #FAC36B 0%, #EE718C 100%);
      border-radius: 38px;

      @include lg{
        padding: 20px 55px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
      }
    }

  }

  .link{
    margin-top: 20px;
  }

  .tags__left{


    .tags__item-title:nth-child(1){
      font-size: 36px;
      line-height: 28px;
      color: #FFF1C1;


      @include lg{
        font-size: 52px;
        line-height: 46px;
      }

    }

    .tags__item-title:nth-child(2){
      font-size: 26.638px;
      line-height: 14px;
      margin-top: 16px;
      margin-left: -5px;

      @include lg{
        font-size: 35.4783px;
        line-height: 20px;
      }

    }

    .tags__item-title:nth-child(3){
      font-size: 21.8183px;
      line-height: 15px;
      margin-top: 1px;
      margin-left: 66px;

      @include lg{
        font-size: 23px;
        line-height: 8px;
        margin-top: 18px;
        margin-left: 93px;
      }

    }

    .tags__item-title:nth-child(4){
      font-size: 28.6234px;
      line-height: 14px;
      margin-top: 14px;
      margin-left: 150px;

      @include lg{
        font-size: 30px;
        line-height: 16px;
        margin-top: 26px;
        margin-left: 54px;
      }

    }

    .tags__item-title:nth-child(5){
      font-size: 21.8812px;
      line-height: 14px;
      margin-top: 5px;
      margin-left: 5px;

      @include lg{
        font-size: 30.2012px;
        line-height: 21px;
        margin-top: 35px;
        margin-left: 15px;
      }

    }

    .tags__item-title:nth-child(6){
      font-size: 12px;
      line-height: 6px;
      margin-top: 1px;
      margin-left: 150px;
      padding-bottom: 50px;

      @include lg{
        font-size: 42.236px;
        line-height: 20px;
        margin-top: -30px;
        margin-left: 177px;
      }

    }

  }

  .tags__right{
    display: none;

    @include md{
      display: flex;
      align-items: flex-end;
      margin-left: auto;
      margin-top: -53px;
      padding-bottom: 28px;

    }

   @include lg{
     padding-right: 10px;
   }

    @include hd{
      padding-right: 10px;
      padding-bottom: 100px;
      padding-top: 50px;
    }

    @include xhd{
      padding-top: 10px;
    }

    .tags__item-title:nth-child(1){
      font-size: 30.1297px;
      line-height: 17px;
      margin-top: 0;
      margin-right: 149px;

      @include lg{
        font-size: 42px;
        line-height: 24px;
        margin-top: 0;
        margin-right: 210px;
      }

    }

    .tags__item-title:nth-child(2){
      font-size: 18px;
      line-height: 7px;
      margin-top: -24px;
      margin-right: 0;

      @include lg{
        font-size: 30px;
        line-height: 10px;
        margin-top: 20px;
        margin-right: 30px;
      }

    }

    .tags__item-title:nth-child(3){
      font-size: 21.6513px;
      line-height: 14px;
      margin-top: 35px;
      margin-right: 92px;

      @include lg{
        font-size: 30.1814px;
        line-height: 19px;
        margin-top: 15px;
        margin-right: 269px;

      }

    }

    .tags__item-title:nth-child(4){
      font-size: 28.6949px;
      line-height: 17px;
      margin-top: 8px;
      margin-right: 238px;

      @include lg{
        font-size: 40px;
        line-height: 24px;
        margin-top: -5px;
        margin-right: 23px;
      }

    }

    .tags__item-title:nth-child(5){
      font-size: 21.6655px;
      line-height: 15px;
      margin-top: 10px;
      margin-right: 17px;

      @include lg{
        font-size: 36px;
        line-height: 19px;
        margin-top: 10px;
        margin-right: 153px;
      }

    }

    .tags__item-title:nth-child(6){
      font-size: 25.8255px;
      line-height: 14px;
      margin-top: -1px;
      margin-right: 144px;

      @include lg{

        font-size: 42px;
        line-height: 24px;
        margin-top: 0px;
        margin-right: 351px;
      }

    }

    .tags__item-title:nth-child(7){
      font-size: 30.1297px;
      line-height: 17px;
      margin-top: 27px;
      margin-right: 189px;

      @include lg{
        font-size: 30.2012px;
        line-height: 21px;
        letter-spacing: 0.171598px;
        margin-top: -5px;
        margin-right: 0;
      }

    }

    .tags__item-title:nth-child(8){
      font-size: 30.1297px;
      line-height: 17px;
      margin-top: -20px;
      margin-right: 40px;

      @include lg{
        font-size: 40px;
        line-height: 24px;
        margin-top: 30px;
        margin-right: 273px;
      }

    }

    .tags__item-title:nth-child(9){
      font-size: 21.5212px;
      line-height: 7px;
      margin-top: 24px;
      margin-right: 58px;

      @include lg{
        font-size: 42px;
        line-height: 24px;
        margin-top: -30px;
        margin-right: 60px;
      }

    }

    .tags__item-title:nth-child(10){
      font-size: 28.6949px;
      line-height: 17px;
      margin-top: 16px;
      margin-right: 214px;
      padding-bottom: 10px;

      @include lg{
        font-size: 30px;
        line-height: 10px;
        margin-top: 50px;
        margin-right: 285px;
      }

    }

  }

  &__desktop-fourth{
    width: 254px;
    height: 96px;
    display: none;

    @include md{
      display: block;
      margin-left: auto;
      padding-bottom: 50px;
    }

    @include lg{
      width: 527px;
      height: 135px;
    }

    @include hd{
      width: 667px;
      height: auto;
    }


  }


  &__animate{
    opacity: 0;
    transition: 1s all;

    img{
      width: 100%;
      height: auto;
    }

  }

  .visible{
    opacity: 1;
    transition: 1s all .5s;
  }

  &__inner{
    position: relative;
  }


  &__logo{
    display: none;

    @include lg{
      display: block;
      width: 147px;
      height: 147px;
      position: absolute;
      left: 0;
      bottom: 200px;
    }

    @include hd{
      bottom: 320px;
    }

    @include xhd{
      width: 218px;
      height: 218px;
      left: -300px;
      bottom: 245px;
    }

  }

}


@keyframes anim {

  0%{
    transform: translateX(0) translateY(0);
  }

  25%{
    transform: translateX(20px) translateY(20px);
  }


  50%{
    transform: translateX(0) translateY(40px);
  }

  75%{
    transform: translateX(-20px) translateY(20);
  }

  100%{
    transform: translateX(0) translateY(0);
  }


}