mixin popup-order()
    +b.popup-order
        +e.inner
            +e.blur
            +e.content
                +e.IMG.close(src=require('./../images/popup-image.png'), alt='Background')
                +e.SPAN.title Pre-order
                +e.SPAN.desc Please use the pre-order form below for all pickup and delivery orders. If you are planning on ordering over 200 lb of blueberries please contact us at 778-859-2743.
                +e.cart-content-metryc-content.active
                    +e.tabs-inner
                        +e.tabs-content.active
                            +e.FORM.form(id="formOrder")
                                +e.form-field-item.contact-form__group
                                    +e.INPUT.input(placeholder="Name" type="text" name="username" required="required")
                                    p.contact-form__error-message
                                +e.form-field.group-form
                                    +e.form-field-item.contact-form__group
                                        +e.INPUT.input(placeholder="Email" type="text" name="useremail" required="required")
                                        p.contact-form__error-message
                                    +e.form-field-item.contact-form__group
                                        +e.INPUT.input(placeholder="Phone" type="tel" name="usertel" id="phone")
                                        p.contact-form__error-message(id="#output")
                                +e.dop-fields
                                    +e.cart-content-currency
                                        +e.SPAN.cart-content-currency-span_active Pickup
                                        +e.INPUT.cart-content-currency-scroll(type="range" name="vol" min="0" max="1" value="0")
                                        span Delivery
                                    +e.choose
                                        +e.SPAN.choose-text Choose form of payment
                                        +e.SELECT.total-count-card-choose-select(name="card")
                                            +e.OPTION.total-count-card-choose-option(value="1") Credit Card
                                            +e.OPTION.total-count-card-choose-option(value="1") Credit Card
                                            +e.OPTION.total-count-card-choose-option(value="1") Credit Card
                                +e.TEXTAREA.message(placeholder="Comments" type="text" name="usermessage")
                                +e.A.button Send