mixin about()
    +b.about
        +e.inner
            +e.front
                +e.front-inner
                    +e.front-text
                        .container
                            +e.front-heading
                                +e.wrapper-title
                                    +e.SPAN.front-heading-pic About
                            +e.front-subtitle We proudly grow certified organic blueberries on land that has been in my family for 4 generations.2
                            +e.front-description Located in Western Canada, in beautiful British Columbia, one of the world’s best locations for growing highbush blueberries. Falconglen Organic Farms is a nationally recognized premium organic blueberry brand that has built an excellent reputation for growing and supplying superior quality varieties of fresh organic blueberries, boxed in our uniquely designed eco-friendly retail packaging and sold through major grocery retailers across Canada. We also offer an expanded range of high quality organic blueberry superfood products such as frozen, freeze-dried, powdered and vegan chocolates.
                            +e.quotation-inner
                                +e.quotation-marks
                                    +e.quotation-mark.about__quotation-mark-left(src=require('./../images/quotation-mark.svg'), alt='Quotation marks')
                                    +e.quotation-mark.about__quotation-mark-right(src=require('./../images/quotation-mark.svg'), alt='Quotation marks')
                                +e.quotation-text
                                    +e.quotation To me, farming successfully means treating the land and environment with respect.
                                    +e.quotation-inscription
                                        +e.SPAN Paul Falcon
                                        +e.SPAN Farmer & Owner, Falconglen Organics Farm
                            +e.front-description As a 3rd generation Vancouverite, Paul is committed to growing local food, sustainably and organically in British Columbia. He designed the unique, eco-friendly packaging and Falconglen logo to showcase his beautiful organic blueberries!
                    +e.front-background
                        +e.bush
                            +e.bush-pic(src=require('./../images/bush.png'), alt='Background')
                        +e.paul
                            +e.paul-pic(src=require('./../images/paul.png'), alt='Background')
            +process()
            +e.landscape
                +e.landscape-inner
                    +e.landscape-title
                        +e.SPAN Visit us
                        +e.SPAN &#32; from early July until late August &#32;
                    +e.landscape-subtitle
                        +e.SPAN Visit when we are harvesting our
                        +e.SPAN &#32; fresh berries! &#32;
                    +e.P.landscape-description Falconglen Organic Farms is ideally suited for growing blueberries in the fertile soils of Glen Valley in the Township of Langley. Falconglen Organic Farms now spans more than 70 acres and produces some of the largest and most delicious blueberries around!



