@import "./../../common/constants";

.about {

  flex-grow: 1;

  &__inner {
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
    background:  #F2F2F2;
  }

  &__front {
    overflow: hidden;
  }

  &__front-inner {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @include md {
      flex-direction: row;
    }

    @include xll {
      max-width: 1596px;
      margin: 0 auto;
      overflow: visible;
    }
  }

  &__front-text {
    position: relative;
    z-index: 1;
    padding-top: 90px;

    @include sm {
      padding-top: 145px;
    }

    @include md {
      width: 620px;
      min-width: 620px;
      padding-bottom: 50px;
    }

    @include lg {
      padding-left: 40px;
      width: 50%;
      min-width: 50%;
    }
  }

  &__wrapper-title{
    background: url(./../../images/header-b.jpg) no-repeat center center;
    background-size: 150% 100%;
    background-position: -110px 100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    display: -webkit-box;

    @include sm{
      background-position: -265px 100%;
    }

    @include md{
      background-position: -200px 100%;
    }

    @include lg{
      background-position: -250px 100%;
    }

  }


  &__front-heading-pic{
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 18vw;
    line-height: 1;
    letter-spacing: -8px;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: auto;

    @include sm{
      font-size: 14vw;
    }

    @include md{
      margin-bottom: 20px;
      font-size: 10vw;
      letter-spacing: -8px;
    }

    @include lg{
      font-size: 8vw;
    }

    @include hd{
      font-size: 6.5vw;
    }

    @include xhd{
      font-size: 5vw;
    }


  }


  &__front-subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #565656;
    margin: 1rem 0;

    @include sm {
      font-size: 20px;
      line-height: 28px;
    }

    @include lg {
      font-size: 24px;
      line-height: 33px;
      margin: 2rem 0;
    }
  }
  &__front-description {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.64px;
    color: #565656;

    @include sm {
      font-size: 16px;
      line-height: 23px;
    }

    @include lg {
      font-size: 18px;
    }
  }

  &__quotation-inner{
    position: relative;
    margin: 2.5rem 0;
  }
  &__quotation-marks {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__quotation-marks-pic {
    width: 100%;
    height: auto;
  }
  &__quotation-mark {
    margin-left: 10px;
    animation: quotation-mark 1s linear infinite;
  }

  &__quotation-mark-right {
    animation-delay: .5s;
  }

  &__quotation{
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #515C9C;
    position: relative;
    z-index: 1;
    margin-bottom: 1rem;

    @include sm {
      font-size: 24px;
      line-height: 33px;
    }
  }

  &__quotation-inscription {
    font-style: normal;
    font-size: 12px;
    line-height: 21px;
    color: #515C9C;
    position: relative;
    z-index: 1;

    SPAN {
      display: block;
    }

    SPAN:nth-child(1) {
      font-weight: bold;
    }
    SPAN:nth-child(2) {
      font-weight: normal;
    }

    @include sm {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__quotation-text {
    padding: 1.5rem 0 0 3rem;
  }

  &__front-background {
    position: relative;

    @include sm {
      margin-top: -195px;

    }

    @include md {
      margin-top: -150px;
      left: -245px;
      margin-top: 0px;
    }
  }

  &__bush {
    min-width: 500px;
    width: 500px;
    position: relative;
    left: -35px;

    @include sm {
      min-width: 1100px;
      width: 1100px;
      position: relative;
      left: -75px;
    }
    @include md {
      left: 0;

    }
    @include lg {
      min-width: 1560px;
      width: 1560px;
      top: -115px;
    }
  }

  &__paul {
    position: absolute;
    bottom: 30px;
    width: 250px;
    left: 50%;
    transform: translateX(-50%);

    @include sm {
      position: absolute;
      width: 400px;
      left: 10%;
      bottom: 160px;

      transform: unset;
    }

    @include md {
      left: 20%;
      bottom: 30px;
    }

    @include lg {
      width: 445px;
      bottom: 200px;
      left: 33%;

    }
  }

  &__paul-pic, &__bush-pic {
    width: 100%;
    height: auto;
  }

  &__landscape {
    width: 100vw;
    background-image: url(../../images/landscape.png);
    background-repeat: no-repeat;
    height: 700px;
    background-size: auto 100%;
    background-position: 10% 100%;
    margin-top: -100px;
    position: relative;

    @include lg {
      height: 800px;
    }

    @include xl {
      background-size: 100% auto;
    }

    @include hd {
      height: 1000px;
    }
  }

  &__landscape-inner {
    padding-top: 130px;
    position: absolute;
    top: 0vw;
    left  : .5rem;
    right : .5rem;

    @include sm {
      top: 10vw;
      padding   : {
        left  : 1rem;
        right : 1rem;
      }
    }

    @include md {
      padding   : {
        left  : 1.5rem;
        right : 1.5rem;
      }
    }

    @include lg {
      padding-top: 85px;
    }

    @include xl {
      max-width: 1366px;
      margin: 0 auto;
    }

    @include xhd {
      top: 6vw;
    }
  }

  &__landscape-title {
    font-size: 40px;
    line-height: 45px;
    letter-spacing: -4px;
    color: #ffffff;
    margin-bottom: 1rem;

    SPAN:nth-child(1) {
      font-weight: bold;
    }

    @include sm {
      font-size: 46px;
    }

    @include lg {
      font-size: 72px;
      line-height: 64px;
    }
  }

  &__landscape-subtitle {
    font-size: 22px;
    line-height: 35px;
    color: #FFFFFF;
    margin-bottom: 1rem;

    SPAN:nth-child(2) {
      font-weight: bold;
    }

    @include sm {
      font-size: 28px;
    }

    @include lg {
      font-size: 36px;
      line-height: 43px;
      margin-bottom: 2rem;
    }
  }

  &__landscape-description {
    letter-spacing: 0.64px;
    color: #565656;
    font-size: 14px;
    line-height: 24px;

    @include sm {
      font-size: 18px;
      line-height: 27px;
      max-width: 630px;
    }

    @include md {
      max-width: 800px;
    }
  }
}

@keyframes quotation-mark {

  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-3px, 0);
  }
  25% {
    transform: translate(-3px, 0);
  }
  45% {
    transform: translate(-3px, 3px);
  }
  50% {
    transform: translate(-3px, 3px);
  }
  70% {
    transform: translate(0, 3px);
  }

  75% {
    transform: translate(0, 3px);
  }

  95% {
    transform: translate(0)
  }

  100% {
    transform: translate(0);
  }

}