mixin delivery()
    +b.delivery
        +e.inner
            .container
                +e.wrapper-title
                    +e.SPAN.title Delivery and payment
                +e.desc Buying blueberries or products from it you can get it in the following ways:
                +e.list
                    +e.item
                        +e.item-content
                            +e.image
                                IMG(src=require('./../images/order1.png'), alt='Background')
                            +e.SPAN.item-title
                                strong Fresh
                                |  Organic Blueberries
                        +e.wrapper-list
                            +e.wrapper-item
                                +e.wrapper-item-title
                                    +e.SPAN.wrapper-item-title-number 1
                                    +e.SPAN.wrapper-item-title-text Vancouver area only – delivery
                                +e.wrapper-item-content
                                    +e.SPAN.wrapper-item-content-title DoorDash app*
                                    +e.SPAN.wrapper-item-content-text only during summer harvest July to August - see availability
                            +e.wrapper-item
                                +e.wrapper-item-title
                                    +e.SPAN.wrapper-item-title-number 2
                                    +e.SPAN.wrapper-item-title-text GVRD/Fraser Valley – delivery
                                +e.wrapper-item-content
                                    +e.SPAN.wrapper-item-content-title Possible courier options*
                                    +e.SPAN.wrapper-item-content-text only during summer harvest July to August, see availability
                            +e.wrapper-item
                                +e.wrapper-item-title
                                    +e.SPAN.wrapper-item-title-number 3
                                    +e.SPAN.wrapper-item-title-text Vancouver/GVRD/Fraser Valley areas – pickup
                                +e.wrapper-item-content
                                    +e.SPAN.wrapper-item-content-title Farm pickup Langley*
                                    +e.SPAN.wrapper-item-content-text only during summer harvest July to August, see availability
                    +e.item
                        +e.item-content
                            +e.image
                                IMG(src=require('./../images/order3.png'), alt='Background')
                            +e.SPAN.item-title
                                strong Fresh
                                |  Organic Blueberries
                        +e.wrapper-list
                            +e.wrapper-item
                                +e.wrapper-item-title
                                    +e.SPAN.wrapper-item-title-number 1
                                    +e.SPAN.wrapper-item-title-text Canada Post
                                +e.wrapper-item-content
                                    +e.SPAN.wrapper-item-content-text •	all Canadian delivery orders
                                    +e.SPAN.wrapper-item-content-text •	all international delivery orders
                            +e.wrapper-item
                                +e.wrapper-item-title
                                    +e.SPAN.wrapper-item-title-number 2
                                    +e.SPAN.wrapper-item-title-text Vancouver area only  – delivery
                                +e.wrapper-item-content
                                    +e.SPAN.wrapper-item-content-text •	Canada post delivery
                                    +e.SPAN.wrapper-item-content-text •	DoorDash app
                            +e.wrapper-item
                                +e.wrapper-item-title
                                    +e.SPAN.wrapper-item-title-number 3
                                    +e.SPAN.wrapper-item-title-text GVRD/Fraser Valley – delivery
                                +e.wrapper-item-content
                                    +e.SPAN.wrapper-item-content-text •	Canada post delivery
                            +e.wrapper-item
                                +e.wrapper-item-title
                                    +e.SPAN.wrapper-item-title-number 4
                                    +e.SPAN.wrapper-item-title-text Vancouver/GVRD/Fraser Valley areas – pickup
                                +e.wrapper-item-content
                                    +e.SPAN.wrapper-item-content-text Farm pickup Langley*
            +e.IMG.image-back(src=require('./../images/delivery-back.png'), alt='Background')