mixin doctors()
    +b.doctors
        .container
            +e.inner
                +e.links
                    +links()
        +e.list
            +e.item
                +e.item-wrapper
                    +e.IMG.item-image(src=require('./../images/dox1.png'))
                    +e.item-wrapper-content
                        +e.SPAN.item-title Особенности детей
                        +e.SPAN.item-desc Психолого-педагогические особенности детей и семей в трудной жизненной ситуации
                .container
                    +e.item-types
                        +e.item-types-content
                            SPAN Базовые потребности детей
                        +e.item-types-content
                            SPAN Социально-психологические особенности детей из семей, находящихся в трудной жизненной ситуации: теория привязанности, ранняя детская травма; влияние перенесенного насилия, тяжелого/хронического заболевания ребенка; травмы госпитализации детей
                        +e.item-types-content
                            SPAN •	Что такое депривация детей, ранняя профилактика депривации
                        +e.item-types-content
                            SPAN •	Определение потребностей и нужд детей, техники/методики для оценки ситуации ребенка
                        +e.item-types-content
                            SPAN •	Обеспечение безопасности для ребенка: организация быта и игр, взаимодействие с близкими. Особенности понимания ребенком, что такое безопасность
                        +e.item-types-content
                            SPAN •	Применение ясного языка для общения с ребенком (ребенком-сиротой, с особенностями развития, малолетним) и выстраивание контакта с ним (например, как уговорить ребенка на совершение с ним различных процедур (медицинских, психологических и пр.))
                    +e.A.item-button(href="#")
                        SPAN Перейти к изучению материала
            +e.item
                +e.item-wrapper
                    +e.IMG.item-image(src=require('./../images/dox2.png'))
                    +e.item-wrapper-content
                        +e.SPAN.item-title Особенности женщин и семьей
                        +e.SPAN.item-desc Психолого-педагогические особенности детей и семей в трудной жизненной ситуации
                .container
                    +e.item-types
                        +e.item-types-content
                            SPAN Базовые потребности детей
                        +e.item-types-content
                            SPAN Социально-психологические особенности детей из семей, находящихся в трудной жизненной ситуации: теория привязанности, ранняя детская травма; влияние перенесенного насилия, тяжелого/хронического заболевания ребенка; травмы госпитализации детей
                        +e.item-types-content
                            SPAN •	Что такое депривация детей, ранняя профилактика депривации
                        +e.item-types-content
                            SPAN •	Определение потребностей и нужд детей, техники/методики для оценки ситуации ребенка
                        +e.item-types-content
                            SPAN •	Обеспечение безопасности для ребенка: организация быта и игр, взаимодействие с близкими. Особенности понимания ребенком, что такое безопасность
                        +e.item-types-content
                            SPAN •	Применение ясного языка для общения с ребенком (ребенком-сиротой, с особенностями развития, малолетним) и выстраивание контакта с ним (например, как уговорить ребенка на совершение с ним различных процедур (медицинских, психологических и пр.))
                    +e.A.item-button(href="#")
                        SPAN Перейти к изучению материала
            +e.item
                +e.item-wrapper
                    +e.IMG.item-image(src=require('./../images/dox3.png'))
                    +e.item-wrapper-content
                        +e.SPAN.item-title Эффективное общение с клиентами
                .container
                    +e.item-types
                        +e.item-types-content
                            SPAN Базовые потребности детей
                        +e.item-types-content
                            SPAN Социально-психологические особенности детей из семей, находящихся в трудной жизненной ситуации: теория привязанности, ранняя детская травма; влияние перенесенного насилия, тяжелого/хронического заболевания ребенка; травмы госпитализации детей
                        +e.item-types-content
                            SPAN •	Что такое депривация детей, ранняя профилактика депривации
                        +e.item-types-content
                            SPAN •	Определение потребностей и нужд детей, техники/методики для оценки ситуации ребенка
                        +e.item-types-content
                            SPAN •	Обеспечение безопасности для ребенка: организация быта и игр, взаимодействие с близкими. Особенности понимания ребенком, что такое безопасность
                        +e.item-types-content
                            SPAN •	Применение ясного языка для общения с ребенком (ребенком-сиротой, с особенностями развития, малолетним) и выстраивание контакта с ним (например, как уговорить ребенка на совершение с ним различных процедур (медицинских, психологических и пр.))
                    +e.A.item-button(href="#")
                        SPAN Перейти к изучению материала