mixin menu()
    +b.menu
        .container
            +e.inner
                +e.type
                    +e.A.auth(target="_blank" href="/signIn.html")
                        span войти / зарегистрироваться
                    +e.switch
                        label.lbl-off(for='switch-orange') родитель
                        input#switch-orange.switch(type='checkbox')
                        label.lbl-on(for='switch-orange') специалист
                +e.UL.list
                    +e.LI.item.menu__item_active
                        a(target="_blank" href='/course.html') пройти курс
                    +e.LI.item
                        a(target="_blank" href='/experts.html') Эксперты
                    +e.LI.item
                        a(target="_blank" href='/questionPage.html') вопрос-ответ
                    +e.LI.item
                        a(target="_blank" href='http://sos-notalone.by/') интерактивная карта
                +social()(class='social_menu')
