@import "./../../common/constants";


.menu{
  height: 100vh;
  background: #00B2FF;
  opacity: 1;
  backdrop-filter: blur(60px);
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  transform: translateX(-100%);
  transition: 1s all;
  margin-top: 2px;
  display: none;

  @include md{
    max-width: 500px;
  }

  @include hd{
    max-width: 600px;
  }

  @include lg{
    .container{
      padding   : {
        left  : 1.5rem;
        right : 1.5rem;
      }
    }

  }

  @include hd{
    .container{
      padding   : {
        left  : 100px;
      }
    }
  }

  @include xhd{
    max-width: 900px;
    padding-left: 277px;
    padding-right: 50px;
  }



  &_active{
    transform: translateX(0);
    transition: 1s all;
    left: 0;
    opacity: 1;


    .menu__item{
      &_active{
        &:after{
          width: 80%;
          transition: 1s all .5s;

          @include md{
            width: 70%;
          }

        }
      }
    }

  }

  &__auth{
    span{
      font-style: normal;
      font-weight: bold;
      font-size: 10px;
      line-height: 14px;
      text-align: right;
      color: #00B2FF;
      transition: .5s all;
    }

  }

  &__type{
    margin-left: auto;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__switch {

    position: relative;
    margin-left: auto;
    margin-top: 16px;
    display: flex;
    align-items: center;
  }

  &__switch .lbl-off{
    margin-left: -52px;
    margin-right: 41px;
  }


  &__switch .lbl-off,
  &__switch .lbl-on {
    cursor: pointer;
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    text-align: right;
    color: #D3E7FF;
    margin-top: 1px;

  }
  &__switch .switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 0;
    font-size: 1em;
    left: 0;
    line-height: 0;
    outline: none;
    position: absolute;
    top: 0;
    width: 0;
  }
  &__switch .switch:before, &__switch .switch:after {
    content: '';
    font-size: 1em;
    position: absolute;
  }
  &__switch .switch:before {
    background: #D3E7FF;
    border: 1px solid #009EE0;
    box-sizing: border-box;
    border-radius: 7.5px;
    min-width: 26px;
    height: 12.52px;
  }
  &__switch .switch:after {
    background: #FFFFFF;
    border: 1px solid #009EE0;
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(113, 195, 255, 0.83);
    min-width: 14px;
    height: 14.61px;
    transform: translate(0, 0);
    transition: transform 0.25s ease-out 0.1s;
    margin-top: -1px;
  }
  &__switch .switch:checked:after {
    transform: translate(12px, 0);
  }
  &__switch .switch:checked ~ .lbl-off {
    opacity: 0;
  }
  &__switch .switch:checked ~ .lbl-on {
    opacity: 1;
  }

  &__list{
    margin-top: 40px;
    list-style-type: none;
    padding-left: 0;

    @include md{
      margin-top: 140px;
    }


  }

  &__item{

    padding-top: 11px;
    padding-bottom: 11px;
    position: relative;

    &:after{
      border-bottom: 2px solid #ffffff;
      content: "";
      position: absolute;
      width: 0;
      bottom: 8px;
      left: 0;
      transition: .5s all;
    }

    a{
      font-family: 'Oswald', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 28px;
      letter-spacing: 0.301693px;
      color: #FFFFFF;
      text-decoration: none;
    }

  }

}




