@import "./../../common/constants";

.products{

  position: relative;
  z-index: 2;
  flex-grow: 1;
  &__cart-content-metryc-inner{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -5px;

    @include sm{
      padding-left: 0;
      padding-right: 0;
    }

    @include md{
      margin-top: 40px;
    }
  }

  &__cart-order{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    margin-right: auto;

    @include lg{
      padding-top: 16px;
    }

  }

  &__cart-order-button{
    background: radial-gradient(117.5% 117.5% at 90.65% 29.16%, #2063E0 0%, #6224F7 100%);
    border-radius: 24.5px;
    width: 114px;
    height: 40px;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    line-height: 35px;
    text-align: justify;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__cart-order-total{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #C8CFD7;

    @include lg{
      font-size: 18px;
      line-height: 25px;
    }

  }

  &__add{

    display: flex;
    justify-content: space-between;
    border-top: .73px solid #c8cfd7;
    margin-top: 1rem;
    flex-direction: column;
    align-items: flex-end;


    @include md{


    }

    @include lg{
      flex-direction: row;
      align-items: center;

      justify-content: flex-end;
    }

    @include lg{
      padding-top: 1rem;

    }

  }

  &__cart-order-price{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #515C9C;

    @include lg{
      font-size: 18px;
      line-height: 25px;
    }
  }

  &__cart-order-price-name{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #515C9C;

    @include lg{
      font-size: 18px;
      line-height: 25px;
    }
  }

  &__cart-content{
    display: none;
    bottom: 0;
    left: 0;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 1px 9px rgba(148, 155, 162, 0.5);
    height: 323px;
    width: 100%;
    z-index: 2;

    @include sm{
      height: 388px;
    }

    @include md{
      height: 350px;
    }

    @include lg{
      height: 388px;
    }

    @include hd{
      height: 388px;
    }
  }

  &__cart-content-metryc-content {
    display: none;

    @include lg{
      margin-top: 20px;
    }
  }
  &__cart-content-metryc-content.active {
    display: block;
  }

  &__cart-inner{
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px #71737D;
    transform: matrix(nan, nan, nan, nan, nan, nan);
    border-radius: 12px;
    z-index: 4;
    width: 307px;
    display: none;
    right: 5px;
    margin-top: 37px;
    padding-top: 10px;
    padding-bottom: 10px;

    @include sm{
      right: 20px;
      margin-top: 48px;
      width: 481px;
    }

    @include md{
      right: 28px;
    }

    @include lg{
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      right: 43px;
    }

    @include hd{
      right: 100px;
    }

    &:before{
      content: "";
      width: 24px;
      height: 13px;
      background-image: url(../../images/arrow.svg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: 50%;
      display: block;
      z-index: 3;
      position: absolute;
      right: 8px;
      top: -9px;
    }

  }

  &__cart-content-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__cart-content-title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #C8CFD7;



  }

  &__cart-content-close{
    width: 20px;
    height: 20px;
    background-image: url(../../images/close.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    z-index: 5;
  }

  &__cart-content-change-text{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 10px;

    @include md{
      margin-top: -82px;
    }


  }

  &__cart-content-currency{
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #9DADB6;
    margin-left: 10px;
    margin-right: 10px;

    @include lg{
      font-size: 18px;
      line-height: 25px;
      margin-right: 10px;
    }
  }

  &__cart-content-currency-span_active{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #515C9C;

    @include lg{
      font-size: 18px;
      line-height: 25px;
    }

  }

  &__cart-content-metryc{
    width: 100%;
  }

  &__cart-content-metryc-caption{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    margin-left: 10px;
    position: relative;
    z-index: 2;


    li{
      margin-left: 5px;
      margin-right: 5px;
      border: 0.8px solid #C8CFD7;
      box-sizing: border-box;
      border-radius: 9.6px;
      padding-left: 20px;
      padding-right: 20px;
      color: #C8CFD7;
      cursor: pointer;

      @include lg{
        font-size: 16px;
        line-height: 22px;
      }

    }

    .active{
      background: #9DADB6;
      border-radius: 9.6px;
      color: #FFFFFF;
    }

  }


  &__cart-content-change{
    margin-top: 10px;
    position: relative;
    z-index: 4;
  }


  &__cart-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    @include md{
      margin-bottom: 13px;
    }

  }

  &__cart-item-close{
    width: 25px;
    height: 24px;
    background-image: url(../../images/close-cart.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  &__cart-item-content{
    display: flex;

    @include sm{
      flex-direction: row;
    }

  }

  &__cart-item-content-price-total{


    @include sm{
      margin-left: 20px;
    }

  }

  &__cart-item-content-title{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #6A747D;
    margin-right: 10px;

    @include md{
      font-size: 18px;
      line-height: 25px;
    }


  }

  &__cart-item-content-price{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #9DADB6;

    @include md{
      font-size: 18px;
      line-height: 25px;
    }

  }

  &__cart-item-cost{
    width: 84px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }

  &__cart-item-number{
    width: 46px;
    height: 36px;
    font-style: normal;
    font-weight: normal;
    font-size: 26.28px;
    line-height: 36px;
    text-align: center !important;
    color: #515C9C;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    @include md{
      font-size: 36px;
      line-height: 49px;
      width: 62px;
      height: 49px;
    }

  }

  &__cart-item-minus{
    font-style: normal;
    font-weight: 300;
    font-size: 26.28px;
    line-height: 36px;
    color: #515C9C;
    cursor: pointer;
  }

  &__cart-item-plus{
    font-style: normal;
    font-weight: 300;
    font-size: 26.28px;
    line-height: 36px;
    color: #515C9C;
    cursor: pointer;
  }


  &__cart-order{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;

    @include lg{
      padding-top: 16px;
    }

  }

  &__cart-order-button{
    background: radial-gradient(117.5% 117.5% at 90.65% 29.16%, #2063E0 0%, #6224F7 100%);
    border-radius: 24.5px;
    width: 114px;
    height: 40px;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    line-height: 35px;
    text-align: justify;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__cart-order-total{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #C8CFD7;

    @include lg{
      font-size: 18px;
      line-height: 25px;
    }

  }

  &__cart-order-price{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #515C9C;

    @include lg{
      font-size: 18px;
      line-height: 25px;
    }
  }

  &__cart-order-price-name{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #515C9C;

    @include lg{
      font-size: 18px;
      line-height: 25px;
    }
  }


  &__wrapper-title{
    background: url(./../../images/header-b.jpg) no-repeat center center;
    background-size: 150% 100%;
    background-position: -110px 100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    display: -webkit-box;

    @include sm{
      background-position: -265px 100%;
    }

    @include md{
      background-position: -200px 100%;
    }

    @include lg{
      background-position: -250px 100%;
    }

  }


  &__title{
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 18vw;
    line-height: 1;
    letter-spacing: -8px;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: auto;
    margin-top: 40px;

    @include sm{
      font-size: 14vw;
      margin-top: 80px;
    }

    @include md{
      margin-bottom: 20px;
      font-size: 10vw;
      letter-spacing: -8px;
    }


    @include hd{
      font-size: 9vw;
    }

    @include xhd{
      font-size: 7vw;
    }

  }


  &__add-link{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #B9576E;
    text-decoration: underline;
    text-decoration-style: dashed;
    margin-top: 20px;
    text-align: right;

    @include md{
      margin-right: 20px;

    }

    @include lg{
      text-align: left;
    }

  }

  &__cart-content-change-text-inner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  &__cart-content-currency-chose{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #6A747D;
  }

  &__item{

    margin-bottom: 20px;

    @include xhd{
      width: 49.5%;
    }
  }

  &__wrapper{
    box-shadow: 0px 2px 10px #D9DBE5;
    background: #FFFFFF;
    border-radius: 12px;

    @include sm{
      border-radius: unset;
      display: flex;
    }
  }

  &__list{
    margin-top: 10px;

    @include xhd{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 1728px;
      padding: 0;
      margin-left: auto;
      margin-right: auto;
    }

  }

  &__item-inner{
    border-radius: 12px 12px 0 0  ;
    height: 174px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 14px;

    @include sm{
      border-radius: unset;
      height: 298px;
      width: 60%;
    }

    @include md{
    }

    @include lg{
      padding: 50px;
      height: 388px;
    }

    @include hd{
      padding: 50px 100px ;
    }

    @include xhd{
      padding: 50px 20px ;
      width: 55%;
    }
  }

  &__item-title{
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;

    @include md{
      font-size: 52px;
      line-height: 55px;
    }

    strong{
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 26px;
      color: #FFFFFF;

      @include md{
        font-size: 52px;
        line-height: 55px;
      }
    }

  }

  &__item-more{
    width: 138px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #C8CFD7;
    box-sizing: border-box;
    border-radius: 26.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;

    span{
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 52px;
      text-align: center;
      color: #515C9C;
    }
  }

  &__item-list{
    padding: 14px;

    @include sm{
      width: 40%;
    }

    @include lg{
      padding: 50px;
    }

    @include hd{
      padding: 50px 100px ;
    }

    @include xhd{
      padding: 50px 20px ;
      width: 45%;
    }

  }

  &__more{
    width: 120px;
    height: 49px;
    border-radius: 24.5px;
    background: linear-gradient(180deg, #19B551 15.69%, #009339 141.12%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    @include sm{
      margin-left: auto;
      width: 159px;
    }

    @include md{
      margin-left: unset;
    }


    span{
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 35px;
      text-align: center;
      color: #FFFFFF;

      @include md{
        font-size: 18px;
        line-height: 52px;
      }

    }
  }

}